
<md-dialog>
    <h3 layout="row" layout-align="center center">Create Lab Group</h3>
    <md-dialog-content>
        <ng-form layout="row" layout-padding>
            <div flex>
                <md-input-container class="md-block">
                    <label>Group name</label>
                    <input type="text" ng-model="dioLab.key.groupName">
                </md-input-container>
            </div>
            <div flex>
                <md-input-container class="md-block">
                    <label>Commission(%)</label>
                    <input type="number" ng-model="dioLab.key.doctorComission">
                </md-input-container>
            </div>

            <div flex>
                <div layout="row" style="padding-top: 30px">
                    <div flex="50"><span>Active ?</span></div>
                    <div flex="50">
                        <md-checkbox ng-model="dioLab.key.active" aria-label="Checkbox 1"></md-checkbox>
                    </div>
                </div>
            </div>


        </ng-form>
        <pre>{{dioLab.key |json}}</pre>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="answer('not useful')">Cancel</md-button>
        <md-button ng-click="save()">Save</md-button>
    </md-dialog-actions>

</md-dialog>

