<md-toolbar layout="row" class="md-hue">
    <h2 class="md-toolbar-tools">
        <span>Create Specimen Group</span>
    </h2>
</md-toolbar>

<md-content>
    <md-card flex-offset="25" flex="50" flex-offset="25">
        <ng-form name="specimenGrpFrm" layout="column" style="padding-top: 20px; padding-left: 20px">
                <md-input-container class="md-block">
                    <label>Group Name</label>
                    <input type="text" name="grpName" ng-model="key.groupName" ng-required="true">
                    <div ng-messages="specimenGrpFrm.grpName.$error" style="color:maroon" role="alert">
                        <div ng-message="required">Group Name Required</div>
                        <!--<div ng-message="md-maxlength">The Group Name must be less than 250 characters long.</div>-->
                    </div>
                </md-input-container>
                <!--<md-input-container class="md-block">
                    <label>Commission(%)</label>
                    <input type="number" ng-model="key.doctorComission">
                </md-input-container>-->
                <div layout="row">
                    <div flex="20"><strong md-colors="{color: 'green-600'}">Active ?</strong></div>
                    <div flex="20">
                        <md-checkbox ng-model="key.active" aria-label="Checkbox 1" ng-required="true"></md-checkbox>

                    </div>
                </div>

        </ng-form>
        <!--<pre>{{key |json}}</pre>-->

        <div layout="row" layout-align="center center">
            <md-button class="md-raised" ui-sref="root.dashboard.labGroup">Cancel</md-button>
            <md-button class="md-raised md-primary" ng-disabled="specimenGrpFrm.$invalid || !enableBtn" ng-click="save()">Save</md-button>
        </div>


    </md-card>

</md-content>