<div ng-init="init()">
    <md-toolbar layout="row" class="md-hue">
        <h2 class="md-toolbar-tools">
            <span>Specimen Group</span>
        </h2>
    </md-toolbar>


    <md-content flex>
        <md-card>
            <md-input-container flex-offset="70" style=" padding-bottom: 0px; margin-bottom: 0px">
                <label>Search</label>
                <input type="text">
            </md-input-container>
            <md-list style="padding-top: 0px">
                <md-list-item class="md-3-line" ng-repeat="test in specimenGroupsList | filter:srcText">

                    <div class="md-list-item-text" >
                        <strong md-colors="{color: 'accent-600'}">Group Name: {{test.groupName}} </strong>
                        <!--<h3>commission: {{test.doctorComission}} </h3>-->
                        <p md-colors="{color: 'primary-800'}">Active ?: {{test.active}} ,</p>
                    </div>
                    <md-button layout="row" layout-align="center center" class="md-primary" ui-sref="root.dashboard.createLabGroup({id: test.id})">
                        <md-tooltip md-direction="top">Edit</md-tooltip>
                        <i class="material-icons">mode_edit</i>
                    </md-button>
                    <md-button layout="row" layout-align="center center" class="md-primary" ng-click="Delete($event, specimenGroupsList, test)">
                        <md-tooltip md-direction="top">delete</md-tooltip>
                        <i class="material-icons">delete</i>
                    </md-button>
                   <!-- <md-button layout="row" layout-align="center center" class="md-secondary">
                        <md-tooltip md-direction="top">print</md-tooltip>
                        <i class="material-icons">print</i>
                    </md-button>-->
                    <md-divider></md-divider>

                </md-list-item>
            </md-list>
        </md-card>
    </md-content>

    <md-button class="md-fab md-fab-bottom-right" ui-sref="root.dashboard.createLabGroup">
        <md-tooltip md-direction="top">Add new Item</md-tooltip>
        <i class="material-icons">add</i>
    </md-button>


</div>

