

<md-toolbar layout="row" class="md-hue">
    <h2 class="md-toolbar-tools">
        <span>Report Delivery</span>
    </h2>
</md-toolbar>
<md-content>
    <md-button class="md-raised" ui-sref="root.dashboard.reportDeliverySystem({status: 'pending'})">Pending</md-button>
    <md-button class="md-raised" ui-sref="root.dashboard.reportDeliverySystem({status: 'delivared'})">Delivery</md-button>
</md-content>

<md-content>
    <div layout="row">
        <div flex-offset="20" flex="20">
            <md-input-container class="md-block">
                <md-datepicker ng-model="src.fromDate" md-placeholder="Start date"></md-datepicker>
            </md-input-container>
        </div>
            <!-- <h3>Template</h3> -->
            <md-autocomplete flex="15"
                             md-input-name="autocompleteField"
                             md-selected-item="reportItem"
                             md-search-text="searchReportText"
                             md-items="item in reportSearch(searchReportText)"
                             md-item-text="item.id"
                             md-floating-label="Invoice no.">
                <md-item-template>
                    <span md-highlight-text="searchReportText">{{item.id}}</span>
                </md-item-template>
            </md-autocomplete>

        <md-button class="md-raised md-primary" style="height: 40px">search</md-button>
    </div>
    <div layout="row">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Invoice Date</th>
            <th>Invoice No</th>
            <th>Patient Name</th>
            <th>Total Bill Amount</th>
            <th>Total Discount</th>
            <th>Total Received Amount</th>
            <th>Current Due Amount</th>
            <th ng-if="!isComplete"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td ng-if="!isComplete">
                <md-button class="md-raised">Delivery</md-button>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</md-content>