<style>
    .btn{
        padding-left: 30%;
        padding-right: 40%;
    }
</style>
<md-toolbar layout="row" class="md-hue">
    <h2 class="md-toolbar-tools" layout="row" layout-align="center center">
        <span>Payment Voucher</span>
    </h2>
</md-toolbar>

<!-- <pre>
    {{Voucher|json}}
</pre> -->

<md-content style="padding-left: 30px; padding-right: 30px;">

    <md-card>
        <!-- <div layout="row" layout-align="start center" layout-padding="top">
            <md-input-container class="md-block" style="padding-right: 30px; margin-bottom: 0px; height: 44px">
                <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date" style="width: 50%"></md-datepicker>
            </md-input-container>
        </div> -->
        <md-card-content>
                <form name="frmPaymentVoucher" novalidate>
                    <md-card>
                        <md-card-title>
                            Payment Items
                        </md-card-title>
                        <md-card-content>
                            <div ng-form="frmVoucherSub" layout="row" layout-padding ng-repeat="item in Voucher.voucherSub.dr">
                                
                                    <div flex="65">
                                        <md-autocomplete flex ng-required="true"
                                                md-input-name="accountName"
                                                md-selected-item="selectedItem"
                                                md-search-text="searchText"
                                                md-items="item in querySearch(searchText)"
                                                md-item-text="item.glAccountName"
                                                md-selected-item-change="changeAutocompleteValue(item, Voucher.voucherSub.dr, $index)"
                                                md-require-match
                                                md-floating-label="Account Name">
                                            <md-item-template>
                                                <span md-highlight-text="searchText">{{item.glAccountName}}</span>
                                            </md-item-template>
                                            <div ng-messages="frmVoucherSub.accountName.$error" ng-if="frmVoucherSub.accountName.$touched">
                                                <div ng-message="required">You <b>must</b> have a account name.</div>
                                                <div ng-message="md-require-match">Please select an existing state.</div>
                                            </div>
                                        </md-autocomplete>
                                    </div>
                                    <!-- <div flex="20" flex-offset="5">
                                        <md-input-container>
                                            <label>Description</label>
                                            <input type="text">
                                        </md-input-container>
                                    </div> -->
                                    <div flex="20">
                                        <md-input-container>
                                            <label>Debit Amount</label>
                                            <input type="number" name="Dr" ng-model="item.dr" ng-disabled="item.cr > 0">
                                        </md-input-container>
                                    </div>
                                    <!-- <div flex="20">
                                        <md-input-container>
                                            <label>Credit Amount</label>
                                            <input type="number" ng-model="item.cr" ng-disabled="item.dr > 0">
                                        </md-input-container>
                                    </div> -->
                                    <div flex="15" style="padding-top: 20px">
                                        <md-button ng-click="remove(Voucher.voucherSub.dr, item)" ng-disabled="Voucher.voucherSub.dr.length == 1">
                                            <i class="material-icons ">close</i>
                                        </md-button>
                                    </div>
                    
                    
                                </div>
                    
                                <div layout="row">
                                    <div flex="20">
                                        Payment Total: <strong>{{ Voucher.voucherSub.dr | calculateBy: 'dr' }}</strong>
                                    </div>
                                </div>
                    
                                <div layout="row" layout-align="end center">
                                    <md-button class="md-primary" style="float: right;" ng-click="addRow('dr', Voucher.voucherSub.dr)" title="add new" layout="row" layout-align="center center">
                                        <i class="material-icons">add</i>Add More...
                                    </md-button>
                                </div>
                
                
                            </div>
                
                            <!-- <div layout="row">
                                <div flex="20">
                                    Payment Total: <strong>{{ Voucher.voucherSub.dr | calculateBy: 'dr' }}</strong>
                                </div>
                            </div> -->
                
                            <!-- <div layout="row" layout-align="end center">
                                <md-button class="md-primary" style="float: right;" ng-click="addRow('dr', Voucher.voucherSub.dr)" title="add new" layout="row" layout-align="center center">
                                    <i class="material-icons">add</i>Add More...
                                </md-button>
                            </div> -->
                        </md-card-content>
                </md-card>
                <div>
                    <md-input-container layout="row">
                        <label>Note</label>
                        <textarea ng-model="Voucher.note" rows="2"></textarea>
                    </md-input-container>
                </div>
    
                <div layout="row" layout-align="center center">
                    <!-- <div flex="30" flex-offset="30"> -->

                        <md-button class="md-raised md-accent" ng-click="showAlert($event)">new</md-button>
                    <md-button class="md-raised md-primary" ng-click="Save()">save</md-button>
                    <!-- </div> -->
                </div>
            </md-card-content>
    </md-card>



</md-content>
