<style>
    .signature{
        border-top: 1px solid #000
    }
</style>
<div layout="column" layout-fill>

    <company-header></company-header>

    <div flex>
        <h3 layout="row" layout-align="center center">
            <span ng-if="stateParams.type == 'PV' ">Payment&nbsp;</span>
            <span ng-if="stateParams.type == 'JV' ">Journal&nbsp;</span>
            Voucher</h3>

        <div layout="row" layout-padding>
            <div flex>Voucher No: {{voucher.id}}</div>
            <span flex></span>
            <div layout="row" layout-align="end center" flex>Date: {{voucher.createdDate | date: 'dd-MM-yyyy' }}</div>
        </div>

        <div layout-padding>
            <table class="table">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Head of Accounts</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in voucher.voucherSub track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{item.glAccountCode.glAccountName}}</td>
                        <td>{{item.dr}}</td>
                        <td>{{item.cr}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2">Voucher Total: </th>
                        <th>{{voucher.voucherSub | calculateBy: 'dr'}}</th>
                        <th>{{voucher.voucherSub | calculateBy: 'cr'}}</th>
                    </tr>
                </tfoot>
            </table>

            <p>
                <strong>Narration:</strong> This vouture is generated from Payment</p>
            <p>
                <strong>In Word:</strong> Five Hundred Taka Only</p>
        </div>
    </div>

    <div layout="row" layout-align="space-around center">
        <div class="signature" layout-padding>Prepared By</div>
        <div class="signature" layout-padding>Checked By</div>
        <div class="signature" layout-padding>Manager (Accounts)</div>
        <div class="signature" layout-padding>Managing Director</div>
    </div>


</div>