
<md-toolbar layout="row" class="md-hue">
    <h2 class="md-toolbar-tools">
        <span>Voucher List</span>
    </h2>
</md-toolbar>

<div layout="row">
    <div flex="20">
        <h4 style="padding-left: 40px; padding-bottom: 20px">Advance search</h4>
        <md-input-container class="md-block">
            <label>Start Date</label>
            <md-datepicker ng-model="src.fromDate" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
        <md-input-container class="md-block">
            <label>End Date</label>
            <md-datepicker ng-model="src.toDate" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
        <!-- <md-input-container class="md-block" style="padding-left: 20px">
            <md-checkbox ng-model="existingPatient">
               Is Posted ?
            </md-checkbox>
        </md-input-container> -->
        <md-input-container class="md-block">
            <label>Voucher no</label>
            <input type="text">
        </md-input-container>

        <div style="padding-top: 20px;">
            <md-button type="button" ng-click="Reset()" class="md-raised md-accent">cancel</md-button>
            <md-button type="submit" class="md-raised md-primary" ui-sref="root.dashboard.accounts.voucherList({fromDate: toDate(src.fromDate), toDate: toDate(src.toDate), pageNumber: 1, pageSize: 10 })">Search</md-button>
        </div>


    </div>
    <div flex>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="item in journals">

                <div class="md-list-item-text">
                    <h4><strong>Id: </strong>{{item.id}} | <strong>Type:</strong> {{item.voucherType}}</h4>
                    <p>Date: <strong>{{item.voucherDate | date: 'dd-MM-yyyy' }}</strong></p>
                </div>
                <!-- <md-button layout="row" layout-align="center center" class="md-secondary">
                    <md-tooltip md-direction="top">Edit</md-tooltip>
                    <i class="material-icons">mode_edit</i>
                </md-button> -->
                <!-- <md-button layout="row" layout-align="center center" class="md-secondary" ui-sref="root.dashboard.printInvoice({id: item.id})">
                    <md-tooltip md-direction="top">print</md-tooltip>
                    <i class="material-icons">print</i>
                </md-button> -->
                
                <md-button layout="row" layout-align="center center" class="md-secondary" ui-sref="root.dashboard.accounts.voucherPrint({id: item.id, type: item.voucherType})">
                    <md-tooltip md-direction="top">print</md-tooltip>
                    <i class="material-icons">print</i>
                </md-button>
                
                <!-- <md-button layout="row" layout-align="center center" class="md-secondary">
                    <md-tooltip md-direction="top">delete</md-tooltip>
                    <i class="material-icons">delete</i>
                </md-button> -->

                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    
</div>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-if="paging.total > 1">
    <md-button layout="row" layout-align="center center" class="md-fab md-mini" ng-disabled="paging.current == 1" ng-click="go(1)">
        <md-tooltip md-direction="top">First</md-tooltip>
        <i class="material-icons">keyboard_arrow_left</i>
    </md-button>
    <span ng-if="paging.current >= 4">...</span>
    <md-button class="md-fab md-mini" ng-disabled="paging.current == b" ng-repeat="b in buttonList"ng-click="go(b)">
        {{b}}
    </md-button>
    <span ng-if="paging.current <= (paging.total - 3)">...</span>
    <md-button layout="row" layout-align="center center" class="md-fab md-mini" ng-disabled="paging.current == paging.total"
        ng-click="go(paging.total)">
        <md-tooltip md-direction="top">Last</md-tooltip>
        <i class="material-icons">keyboard_arrow_right</i>
    </md-button>
</section>
