<div layout="column" flex>


    <h1 layout="row" layout-align="center center" class="md-headline">
        <span>Change Password</span>
    </h1>

    <md-content layout="row" layout-align="center center">
        <form name="changePassFrm" novalidate flex-lt-md="100" flex-gt-md="25" ng-submit="changePassword()">
            <md-input-container class="md-block">
                <label>Current Password</label>
                <input type="password" name="currentPassword" ng-model="main.currentPassword" ng-required="true">
                <div ng-messages="changePassFrm.currentPassword.$error" style="color:maroon" role="alert">
                    <div ng-message="required">**Required</div>
                    <!--<div ng-message="md-maxlength">The Group Name must be less than 250 characters long.</div>-->
                </div>
            </md-input-container>
            <md-input-container class="md-block" style="margin-bottom: 0px;">
                <label>New Password</label>
                <input type="password" name="newPassword" ng-model="main.newPassword" ng-required="true">
                <div ng-messages="changePassFrm.currentPassword.$error" style="color:maroon" role="alert">
                    <div ng-message="required">**Required</div>
                    <!--<div ng-message="md-maxlength">The Group Name must be less than 250 characters long.</div>-->
                </div>
            </md-input-container>
            <md-input-container class="md-block" style="margin-bottom: 0px;">
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword" ng-model="main.confirmNewPassword" ng-required="true">
                <div ng-messages="changePassFrm.currentPassword.$error" style="color:maroon" role="alert">
                    <div ng-message="required">**Required</div>
                    <div ng-if="newPassword != confirmNewPassword">Didn't match with new password</div>
                </div>
            </md-input-container>

            <div layout="row" layout-align="center center">
                <div ng-if="!enableBtn">
                    <md-progress-circular md-mode="indeterminate" md-diameter="35"></md-progress-circular>
                </div>
                <md-button class="md-raised" ui-sref="root.dashboard.home">back</md-button>
                <md-button class="md-raised md-primary" ng-disabled="changePassFrm.$invalid || !enableBtn || newPassword != confirmNewPassword" ng-click="changePassword()">change password</md-button>
            </div>

        </form>
    </md-content>

</div>


