
<style>

    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td,
    .table > tfoot > tr > th,
    .table > tfoot > tr > td {
        padding: 2px; }

    @media print {
        .printCss {
            font-size: .65em;
        }
    }
   
</style>




<div>
    

<div layout="row" class="hidden-print">
    <form name="marketingFrm" layout="row">
        <div style="padding-top: 20px">
            <md-input-container class="md-block">
                <label>Start Date</label>
                <md-datepicker ng-model="src.fromDate" md-placeholder="Enter date"></md-datepicker>
            </md-input-container>
        </div>
        <div style="padding-top: 20px; padding-right: 10px">
            <md-input-container class="md-block">
                <label>End Date</label>
                <md-datepicker ng-model="src.toDate" md-placeholder="Enter date"></md-datepicker>
            </md-input-container>
        </div>
        <div style="padding-top: 20px; padding-right: 10px">
            <md-autocomplete flex
                             md-input-name="autocompleteField"
                             md-selected-item="selectedHospital"
                             md-search-text="ref.searchText"
                             md-items="item in querySearch('referral', ref.searchText)"
                             md-selected-item-change="changeReferral(item)"
                             md-item-text="item.name"
                             md-require-match
                             md-floating-label="Hospital Name">
                <md-item-template>
                    <span md-highlight-text="ref.searchText">{{item.name}}</span>
                </md-item-template>
                <div ng-messages="marketingFrm.autocompleteField.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                </div>
            </md-autocomplete>
        </div>
        <div style="padding-top: 20px; padding-right: 10px">
            <md-button class="md-raised md-primary" style="height: 30px" ng-click="Search()">search</md-button>
        </div>
    </form>
</div>

<div class="visible-print">
    <company-header></company-header>


    <h3 layout="row" layout-align="center center" style="margin-top: 5px; margin-bottom:5px; font-weight: 400">
        <span class="duecolor">Monthwise Due Report</span></h3>

    <div style="text-align: center">
        <strong>Period: </strong>{{src.fromDate | date: 'dd-MM-yyyy'}}  <strong>To</strong> {{src.toDate | date: 'dd-MM-yyyy'}}
    </div>
</div>


<div class="table-responsive">
    <table class="table table-bordered table-font printCss">
        <thead>
        <tr></tr>
        <tr>
            <td><b>Hospital Name</b></td>
            <td ng-repeat="month in columns"><b>{{ month | limitTo: 3 }}</b></td>
            <td><b>Total</b></td>
            <!-- <th>Coll. Type</th> -->
        </tr>
        </thead>
        <tbody>
        <!-- <tr ng-repeat="item in ReportList | filter: {collectionType: 'Specimen Receipt' || 'Due Collection' } track by $index"> -->
        <!-- <tr ng-repeat="item in ReportList | filter: {collectionType: 'Bundle Due Collection' } track by $index"> -->
        <tr ng-repeat="item in monthwiseDuesList">
            <td>{{item.Title}}</td>
            <td ng-repeat="month in columns"> {{ item[month] || 0 | number:0 }} </td>
            <td>{{ tot = totalSum(item) }} </td>
             <!--<td>{{item.collectionType}}</td>-->
        </tr>
        <tr>
            <td><b>Total</b></td>
            <td ng-repeat="month in columns"><b>{{ monthwiseDuesList | calculateBy: month | number: 0 }}</b></td>
            <td><b>{{ GrendTotal(monthwiseDuesList) }}</b></td>
        </tr>
        </tbody>




    </table>

    <!-- <pre>{{monthwiseDuesList|json}}</pre> -->
    <!--<p layout="row" layout-align="center center" class="md-title "ng-if="!ReportList || ReportList.length == 0">-->
        <!--No matching data found-->
    <!--</p>-->
</div>

</div>
