
<style>
    @media print{
        .printCss {
            font-size: .75em;
        }
        .duecolor {
            color: black;
        }

    }
    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td
   {

    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    }

h2{
    margin-top: 10px;
    margin-bottom: 0px;
}

.signature{
        border-top: 1px solid #000
    }

</style>
<company-header class="visible-print"></company-header>

<h3 style="text-align: center; margin-top: 5px; margin-bottom:5px; font-weight: 400" layout="row" layout-align="center center">
    <span class="duecolor">Due Collection List</span></h3>

<div style="text-align: center" class="visible-print">
    <strong>Period: </strong>{{src.sDate | date: 'dd-MM-yyyy'}}  <strong>To</strong> {{src.eDate | date: 'dd-MM-yyyy'}}
</div>


<md-content flex>
    <md-card>
        <md-card-title class="hidden-print" style="padding: 0px;height: 80px">
                <md-input-container class="md-block">
                    <label>Start Date</label>
                    <md-datepicker ng-model="src.sDate" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>End Date</label>
                    <md-datepicker ng-model="src.eDate" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
                <md-autocomplete flex-offset="5"
                    md-input-name="autocompleteField"
                    md-selected-item="selectedReceiptNo"
                    md-search-text="srcReceiptNo"
                    md-items="item in ReceiptQuerySearch('receipt', srcReceiptNo)"
                    md-item-text="item.id"
                    md-require-match
                    md-floating-label="Receipt No.">
                <md-item-template>
                    <span md-highlight-text="DrSearchText">{{item.id}}</span>
                </md-item-template>
                <!-- <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                    <div ng-message="required">You <b>must</b> have a favorite state.</div>
                    <div ng-message="md-require-match">Please select an existing state.</div>
                    <div ng-message="minlength">Your entry is not long enough.</div>
                    <div ng-message="maxlength">Your entry is too long.</div>
                </div> -->
            </md-autocomplete>
            <md-button class="md-raised md-primary" style="height: 25px" ng-click="Search()">search</md-button>

        </md-card-title>

        <md-divider></md-divider>

        <table class="table printCss">
            <thead>
                <tr >
                    <th>Date</th>
                    <th>Receipt No</th>
                    <th>Pt. Name</th>
                    <th>Hospital Name</th>
                    <!-- <th>Ref. by Dr.</th> -->
                    <th>Cash Received</th>
                    <!-- <th>Discount</th> -->
                    <th>Collected By</th>
                    <th class="hidden-print"></th>
                </tr>
            </thead>
            <tbody class="printCss">
                <tr ng-repeat="item in duesList track by $index">
                    <td>{{item.createdDate + 'Z' | date: 'dd-MM-yyyy  hh:mm a' }}</td>
                    <td>{{item.specimen_ReceiptId}}</td>
                    <td>{{item.specimenReceipt.patientInfo.name}}</td>
                    <td>{{item.specimenReceipt.referralInfo.name}}</td>
                    <!-- <td>{{item.specimenReceipt.doctorInfo.name}}</td> -->
                    <td>{{item.currentReceivedAmount | number: 2}}</td>
                    <!-- <td>{{item.totalDiscountAmount}}</td> -->
                    <td>{{item.employeeInfo.name}}</td>
                    <!--printDueCollection({id: item.id})-->
                    <td class="hidden-print">
                        <a layout="row" layout-align="center center" class="md-accent" ui-sref="root.dashboard.printDueCollection({id: item.id})" target="_blank">
                            print
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"><b> Total:</b> </td>
                    <td > <b> {{ duesList | calculateBy: 'currentReceivedAmount' | number: 2 }} </b></td>
                    <td colspan="1"></td>
                </tr>
            </tbody>



        </table>
        <p layout="row" layout-align="center center" class="md-title "ng-if="!duesList || duesList.length == 0">
            No matching data found
        </p>

        
    </md-card>

    <!-- <div class="visible-print" layout="row" layout-align="space-around center" style="padding-top: 50px;">
        <div class="signature" layout-padding>Receiptionist</div>
        <div class="signature" layout-padding>Manager</div>
    </div> -->

    <table border="0" style="margin-top: 50px; width: 100%;">
        <tbody>
            <tr>
                <td style="text-align: center">
                    <span class="signature" style="padding-left: 50px; padding-right: 50px;">Receiptionist</span>
                </td>
                <td style="text-align: center">
                    <span class="signature" style="padding-left: 50px; padding-right: 50px;">Manager</span>
                </td>
            </tr>
        </tbody>
    </table>

</md-content>
