

<style>
    @media print{
        body{
            width: 144.5mm !important;
            margin: auto;
        }

    }
    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td,
    .table > tfoot > tr > th,
    .table > tfoot > tr > td {
        padding: 2px; }

    .printCss {
        font-size: .75em;
    }
    .box{
        border: solid;
        border-color: #999999;
        padding-top: 5px;
        padding-left: 5px;
        text-align: center;
    }
</style>




<!-- <div layout="column" layout-align="center center">
    <div>
        <strong>
            {{profile.name}}
        </strong>
    </div>
    <div>{{profile.address}}</div>
    <div>Phone: {{profile.phone}}</div>
    <div>Email: {{profile.email}}</div>
    <div>Web: {{profile.url}}</div>


</div> -->

<company-header></company-header>

<h3 layout="row" layout-align="center center" style="margin-bottom: 0px; font-weight: 400">Cash Memo</h3>

<div layout="row">
    <table class="table printCss" style="margin-bottom: 10px;">
        <tbody>
            <tr>
                <td colspan="2"><strong>Receipt No: </strong>{{main.specimenReceipt.id}}</td>
                <td><strong>Receipt Date:</strong> {{main.specimenReceipt.createdDate + 'Z' | date: 'dd-MM-yyyy : hh:mm a' }}</td>
                <!--<td><strong>Delivery Date: </strong>{{main.deliveryDateTime}}</td>-->
            </tr>
            <tr>
                <td colspan="2"><strong>Patient ID: </strong> {{main.specimenReceipt.patient_InfoId}}</td>
                <td><strong>Age: </strong>{{main.specimenReceipt.patientInfo.age.split('-')[0]}}Y {{main.patientInfo.age.split('-')[1]}} M {{main.patientInfo.age.split('-')[2]}} D</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Patient Name:</strong> {{main.specimenReceipt.patientInfo.name}}</td>
                <td><strong>Gender: </strong>{{main.specimenReceipt.patientInfo.sex}}</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Hospital: </strong>{{main.specimenReceipt.referralInfo.name}}</td>
                <td><strong>Mobile: </strong>{{main.specimenReceipt.patientInfo.phone}}</td>

            </tr>
            <tr>
                <td colspan="2"><strong>Ref. By:</strong> {{main.specimenReceipt.doctorInfo.name }}</td>
                <td><strong>Address:</strong>{{main.specimenReceipt.patientInfo.address}}</td>

            </tr>
        </tbody>
    </table>
</div>

<div layout="row">
    <table class="table table-striped printCss" style="margin-bottom: 5px;">
        <thead>
        <tr></tr>
        <tr>
            <th>SL</th>
            <th>Lab No</th>
            <th>Specimen</th>
            <th>Delivery Date</th>
            <th>Charge</th>
            <th>Dis %</th>
            <th>Adj. Dis</th>
            <th>Net Total (BDT)</th>
        </tr>
        </thead>
        <tbody>
        <!--ng-repeat="s in main.specimenReport track by $index"-->
        <!--{{s.specimenInfo.specimen}}-->
        <!--{{s.charge}}-->
        <tr ng-repeat="s in main.specimenReceipt.specimenReport track by $index">
            <td>{{$index + 1}}</td>
            <td>{{s.id}}</td>
            <td>{{s.specimenInfo.specimen}}</td>
            <td>{{s.deliveryDateTime | date: 'dd-MM-yyyy' }}</td>
            <!--<td>{{s.deliveryDateTime | date: 'dd-MM-yyyy : HH:mm a ' }}</td>-->
            <td>{{s.charge}}</td>
            <td>{{s.discountPerchentage}}</td>
            <td>{{s.specialDiscount }}</td>
            <td>{{ rowNetTotal(s.charge,s.discountPerchentage,s.specialDiscount ) }}</td>
            <!--main.adjustmentDiscount + main.hosDisPerchentage-->
        </tr>
        <tr>
            <td style="vertical-align:middle; text-align: center;" colspan="4" rowspan="5" ng-show="main.specimenReceipt.currentDueAmount == 0">
                <h2>Paid</h2>
            </td>
            <td style="vertical-align:middle; text-align: center;" colspan="4" rowspan="6" ng-show="main.specimenReceipt.currentDueAmount > 0">
                <h2>Due</h2>
            </td>
            <td colspan="3"><strong>Total bill: </strong></td>
            <td>{{main.specimenReceipt.totalBillAmount | number: 2}}</td>
        </tr>
        <tr>
            <td colspan="3"><strong>Total Discount:</strong></td>
            <td>{{main.specimenReceipt.totalDiscount | number: 2}}</td>
        </tr>
        <tr>
            <td colspan="3"><strong>Total Receivable:</strong></td>
            <td>{{main.specimenReceipt.receivableAmount | number: 2}}</td>
        </tr>
        <tr>
            <td colspan="3"><strong>Due Amount:</strong></td>
            <td>{{main.specimenReceipt.dueAmount | number: 2}}</td>
        </tr>
        <tr>
            <td colspan="3"><strong>Current Received Amount:</strong></td>
            <td>{{main.currentReceivedAmount | number: 2}}</td>
        </tr>
        <tr>
            <td colspan="8"><strong>Amount in words: </strong>
                <strong ng-if="main.currentReceivedAmount">{{ main.currentReceivedAmount | inWords}}</strong>
            </td>
        </tr>
        <tr>
            <td colspan="8"><strong>Remarks: </strong>{{main.remarks}}</td>
        </tr>
        </tbody>

    </table>

</div>
<!--<pre>{{main|json}}</pre>-->

<div layout="row" style="font-size: 0.8em;">
    <div flex="35" class="box" layout-align="center center">
        <strong>Due Received : {{main.currentReceivedAmount}} Tk.</strong>

    </div>
    <div layout="column" flex-offset="35" flex="30">
        <div layout="row" layout-align="center center" flex>
            <span>{{main.employeeInfo.name}}</span>
        </div>
        <div layout="row" layout-align="center center" style="border-top: 1px solid">
            <strong>Signature</strong>
        </div>
    </div>

</div>



<!--<md-content>
    <div layout="row">
        <table class="table printCss" style="margin-bottom: 10px;">
            <tbody>
            <tr>
                <td colspan="2"><strong>Receipt No: </strong>{{dues.specimen_ReceiptId}}</td>
                <td colspan="2"><strong>Received Date:</strong> {{dues.createdDate | date: 'dd-MM-yy' }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Patient Name: </strong> {{basicInfo.patientInfo.name}}</td>
                <td colspan="2"><strong>Patient ID:</strong>  {{basicInfo.patientInfo.id}}</td>

            </tr>
            &lt;!&ndash;{{basicInfo.patientInfo.age}}&ndash;&gt;

            <tr>
                <td colspan="2"><strong>Mobile No: </strong> {{basicInfo.patientInfo.phone}}</td>
                <td colspan="2"><strong>Age: </strong> {{basicInfo.patientInfo.age.split('-')[0]}}Y {{basicInfo.patientInfo.age.split('-')[1]}} M {{basicInfo.patientInfo.age.split('-')[2]}}</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Ref. By:</strong>{{basicInfo.doctorInfo.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div layout="row">
        <table class="table table-striped printCss"  style="margin-bottom: 5px;">
            <tbody>
            <tr>
                <td rowspan="6">

                    <strong>Due Collection</strong><br>
                    <span colspan="4" rowspan="4"  ng-show="basicInfo.currentDueAmount == 0"><h2 class="md-display-1">Paid</h2> </span>
                    <span colspan="4" rowspan="5" ng-show="basicInfo.currentDueAmount > 0"><h2 class="md-display-1">Due</h2> </span>

                </td>
                <td><strong>Total Bill: </strong></td>
                <td>{{dues.totalBillAmount}}</td>
            </tr>
            <tr>
                <td><strong>Total Discount:</strong></td>
                <td>{{dues.totalDiscountAmount}}</td>
            </tr>
            <tr>
                <td><strong>Total Receivable:</strong></td>
                <td>{{ dues.totalBillAmount - dues.totalDiscountAmount}} </td>
            </tr>
            <tr>
                <td><strong>Previous Cash Amount:</strong></td>
                <td>{{dues.previousReceivedAmount}}</td>
            </tr>
            <tr>
                <td><strong>Current Cash Amount:</strong></td>
                <td>{{dues.currentReceivedAmount}}</td>
            </tr>
            <tr>
                <td colspan="1"><strong>Due Amount:</strong></td>

                <td>{{ dues.currentDueAmount }}</td>

            </tr>
            <tr>
                <td colspan="3"><strong>Amount in words: {{ dues.currentReceivedAmount | inWords}}</strong></td>
            </tr>

            </tbody>
        </table>
    </div>

    <div layout="row">
        <div flex="30" class="box" layout-align="center center">
            <strong>Due Received : {{dues.currentReceivedAmount}} Tk.</strong>

        </div>

        <div layout="column" flex-offset="40" flex="30">
            <div layout="row" layout-align="center center" flex>
                <span>{{dues.employeeInfo.name}}</span>
            </div>
            <div layout="row" layout-align="center center" style="border-top: 1px solid">
                <strong>Signature</strong>
            </div>
        </div>

    </div>
</md-content>-->

