
<style>
    h4{
        margin: 0px;
    }
</style>
<md-card>

        <h4 layout="row" layout-align="center center" class="md-headline">Role User</h4>

    <md-card-content>
        <div layout="row" style="height: 50px;">
            <div flex>
                <md-input-container>
                    <label>Search</label>
                    <input type="search">
                </md-input-container>
                <md-button class="md-raised" style="margin-bottom: 40px;">search</md-button>
            </div>
            <div flex>
                <ng-form name="roleFrm">
                    <md-button class="md-raised" ng-click="enableEdit = !enableEdit" style="margin-bottom: 30px;">
                       add new
                    </md-button>

                    <md-input-container ng-show="enableEdit" style="margin: 0px">
                        <label>Role Name</label>
                        <input type="text" name="main.name" ng-required="true">
                    </md-input-container>

                    <md-button ng-show="enableEdit" ng-disabled="roleFrm.$invalid || !enableBtn" class="md-raised" style="margin-bottom: 40px;" ng-click="save()">save</md-button>

                </ng-form>
            </div>
        </div>

    <div layout="row">

        <div flex-offset="20" flex="60">

            <md-list>
                <md-list-item class="md-3-line" ng-repeat="role in roleList | filter:srcText">
                    <div class="md-list-item-text" >
                        <span>Role Name: <strong>{{role.name}}</strong></span>

                        <md-button layout="row" ng-click="enableEdit = !enableEdit" layout-align="center center" class="md-secondary">
                            <md-tooltip md-direction="top">Edit</md-tooltip>
                            <i class="material-icons">mode_edit</i>
                        </md-button>
                        <md-button layout="row" layout-align="center center" class="md-secondary">
                            <md-tooltip md-direction="top">delete</md-tooltip>
                            <i class="material-icons">delete</i>
                        </md-button>
                        <!--<md-button layout="row" layout-align="center center" class="md-secondary">
                            <md-tooltip md-direction="top">print</md-tooltip>
                            <i class="material-icons">print</i>
                        </md-button>-->
                    </div>

                    <md-divider></md-divider>

                </md-list-item>
            </md-list>
        </div>

    </div>
    </md-card-content>

</md-card>


