<style>
    .visible-print {
        display: block !important;
    }
    @media print{
        body{
            width: 144.5mm !important;
            margin: auto;
        }

    }
</style>


<div flex-offset="20" flex="70">
    <h3 style="margin-left: 280px">eCure</h3>
    <h2 style="padding-left: 250px">Trail Balance</h2>
    <!--<h4 style="padding-left: 280px">As at</h4>-->
    <div class="hidden-print">
        <div class="visible-print">
            <strong>Period: {{src.toDate | date: 'yyyy-MM-dd' }},  To: {{src.toDate | date: 'yyyy-MM-dd' }}</strong>
        </div>
        <md-input-container style="padding-left: 30px">
            <label>Fiscal Year</label>
            <md-select ng-model="ctrl.userState" ng-required="true">
                <md-option ng-value="FY2017-18">
                    FY2017-18
                </md-option>
            </md-select>
        </md-input-container>
        <strong style="padding-left: 20px"> / </strong>
        <md-datepicker ng-model="src.fromDate" md-placeholder="start date"></md-datepicker>
        <strong style="padding-left: 20px"> -</strong>
        <md-datepicker ng-model="src.toDate" md-placeholder="end date"></md-datepicker>
        <md-button ng-click="search()" class="md-raised">search</md-button>
    </div>


</div>


<div layout="row" style="margin-top: 40px">
    <table class="table table-bordered" flex-offset="20" flex="60">
        <thead>
        <tr>
            <th style="text-align: right">SL</th>
            <th  style="text-align: right">Particular</th>
            <th style="text-align: right">Dr.</th>
            <th style="text-align: right">Cr.</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tb in balanceList">
            <td style="text-align: right">{{$index + 1}}</td>
            <td style="text-align: right">{{tb.accountName}}</td>
            <td style="text-align: right">{{tb.dr}}</td>
            <td style="text-align: right">{{tb.cr}}</td>

        </tr>
        <tr>
            <td colspan="2" style="text-align: right"><strong>Total</strong></td>
            <td>{{balanceList | calculateBy:"dr"}}</td>
            <td>{{balanceList | calculateBy:"cr"}}</td>
        </tr>
        </tbody>

    </table>
</div>