<style>
    .header{
        font-size: 0.8em;
    }
    .heading{
        font-weight: 400;
        font-size: 21px;
        margin-bottom: 0px;
    }
</style>



<div class="header"layout="column" layout-align="center center">
    <div> 
        <h2 class="heading">
            {{profile.name}}
        </h2>
    </div>
    <div>{{profile.address}}, {{profile.phone}}</div>
    <!--<div>Email: {{profile.email}}</div>-->
    <!--<div>Web: {{profile.url}}</div>-->
</div>