<!-- <pre>
    {{item|json}}
</pre> -->
<!-- <div md-whiteframe="1"> -->
<md-card layout-padding>
        <md-card-content>

<div layout="row">
    <div layout="column" flex>
        <div layout="row">
            <div flex="80">
                <md-autocomplete flex ng-required="true"
                    md-input-name="autocompleteField" 
                    md-selected-item="selectedItem" 
                    md-search-text="searchText"
                    md-items="item in querySearch(searchText)" 
                    md-item-text="item.specimen" 
                    md-require-match 
                    md-floating-label="Specimen">
                    <md-item-template>
                        <span md-highlight-text="searchText">{{item.specimen}} - ( {{item.charge}} Tk.)</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{item.specimen}}" were found. <md-button>Add</md-button>
                    </md-not-found>
                    <div ng-messages="invForm.autocompleteField.$error" ng-if="invForm.autocompleteField.$touched">
                        <div ng-message="required">Investigation
                            <b>Required</b></div>
                    </div>
                </md-autocomplete>
            </div>
            <div flex="20">
                <md-input-container>
                    <label>Charge</label>
                    <input type="number" ng-model="item.charge" ng-disabled="true">
                </md-input-container>
            </div>
        </div>
        <div layout="row">
            <div flex="25">
                <md-input-container>
                    <label>Discount</label>
                    <input type="number" ng-model="item.discountPerchentage" max="100" min="0">
                </md-input-container>
            </div>
            <div flex="25">
                <md-input-container>
                    <label>Sp. Dis.</label>
                    <input type="number" ng-model="item.specialDiscount" max="item.charge" min="0">
                </md-input-container>
            </div>
            <div flex="50">
                <md-input-container class="md-block">
                    <label>Delivery Date</label>
                    <md-datepicker ng-model="item.deliveryDateTime" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
            </div>
        </div>
        <div layout="row" layout-align="end center">
            <div>
                Total Discount: {{AdjDiscount()}} | Net Total: {{NetTotal()}}
            </div>
            <div>
                <md-button class="md-flat md-accent"  ng-click="Delete(items, item)">
                    <i class="material-icons" ng-if="item.id">delete</i>
                    <i class="material-icons" ng-if="!item.id">close</i>
                </md-button>
            </div>
        </div>
    </div>
    
</div>

</md-card-content>
</md-card>


<!-- </div> -->