<style>
    md-dialog {
        overflow: hidden;
    }
</style>

<md-dialog flex="30">
    <div class="md-title" style="text-align:center">Patient Info</div>
    <ng-form layout-padding="left">
        <md-input-container class="md-block">
            <label>Patient name</label>
            <input type="text">
        </md-input-container>
        <div layout="row">
            <label class="age">Age</label>
            <md-input-container flex="30">
                <label style="text-align:center">dd</label>
                <input type="number" aria-label="Age">
            </md-input-container>
            <md-input-container flex="30">
                <label style="text-align:center">mm</label>
                <input type="number" aria-label="Age">
            </md-input-container>
            <md-input-container flex="30">
                <label style="text-align:center">yy</label>
                <input type="number" aria-label="Age">
            </md-input-container>
        </div>
        <md-input-container class="md-block">
            <label>Mobile no</label>
            <input type="number">
        </md-input-container>
        <md-input-container style="padding-bottom: 30px" class="md-block">
            <md-radio-group ng-model="data.group1" layout="row">
                <span style="font-weight: 500">Sex:&nbsp;</span>
                <md-radio-button value="female" >Female</md-radio-button>
                <md-radio-button value="male" class="md-primary"> Male </md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container layout-padding="top" class="md-block">
            <label>Address</label>
            <textarea ng-model="user.biography"></textarea>
        </md-input-container>

        <md-dialog-actions layout="row" layout-align="center center">
            <md-button ng-click="answer('not useful')">Cancel</md-button>
            <md-button>Save</md-button>
        </md-dialog-actions>
    </ng-form>

</md-dialog>
