<style>
    md-input-container {
        margin: 0px;
    }

    .age {
        padding-top: 10px;
        padding-right: 10px;
    }
    md-divider {
        border-top-color: rgba(87, 111, 199, 0.28);
    }
</style>
<!-- <pre>
    {{main|json}}
</pre> -->
<form name="invoiceForm">
    <md-content layout-padding="left" style="padding-bottom: 0px;margin-bottom: 0px">
        <h4 layout="row" layout-align="center center" class="md-headline"  md-colors="{color: 'primary-600'}"
            style="padding-top: 0px;margin: 0px;padding-bottom: 0px">Lab Invoice</h4>
        <md-card style="padding-bottom: 0px;margin-bottom: 0px;padding-top: 0px;">
            
            <md-card-content style="padding-top: 0px;">
                <ng-form name="personalInfoFrm" layout="column">
                    <p style="margin-bottom: 0px">
                        <strong style="margin: 0; padding:10px">Patient Info</strong>
                        <md-checkbox ng-model="existingPatient" md-colors="{color: 'accent-400'}" ng-change="refreshObject(main.patientInfo, 'patient_InfoId')">
                            <strong>Existing patient ?</strong>
                        </md-checkbox>
                    </p>

                    <div layout="row" layout-wrap>
                        <div flex="15">
                            <md-autocomplete flex
                                ng-disabled="!existingPatient" 
                                ng-required="existingPatient"
                                md-input-name="autocompleteField" 
                                md-selected-item="selectedPatient" 
                                md-search-text="reg.searchText"
                                md-items="item in querySearch('patient', reg.searchText)" 
                                md-selected-item-change="changePatient(item)"
                                md-item-text="item.id" 
                                md-require-match
                                md-floating-label="Reg no.">
                                <md-item-template>
                                    <span md-highlight-text="reg.searchText">{{item.id}}</span>
                                </md-item-template>
                                <md-not-found>
                                    Add New Patient
                                </md-not-found>
                            </md-autocomplete>
                        </div>

                        <div flex="30">
                            <md-input-container class="md-block">
                                <label>Patient name</label>
                                <input type="text" name="patientname" md-maxlength="250" ng-model="main.patientInfo.name" ng-required="!existingPatient">
                                <div ng-messages="personalInfoFrm.patientname.$error" style="color:maroon" role="alert">
                                    <div ng-message="required">Patient Name Required</div>
                                    <div ng-message="md-maxlength">The Patient Name must be less than 250 characters long.</div>
                                </div>
                            </md-input-container>
                        </div>
                        
                        <div flex="20" flex-offset="5">
                            <div layout="row">
                                <label class="age">Age</label>
                                <md-input-container>
                                    <label>yy</label>
                                    <input type="number" name="ageYear" ng-model="ageYear" ng-value="00" aria-label="Age" ng-required="!existingPatient">
                                    <div ng-messages="personalInfoFrm.ageYear.$error" style="color:maroon" role="alert">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>mm</label>
                                    <input type="number" name="ageMonth" ng-model="ageMonth" max="12" ng-value="00" aria-label="Age" ng-required="!existingPatient">
                                    <div ng-messages="personalInfoFrm.ageMonth.$error" style="color:maroon" role="alert">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>dd</label>
                                    <input type="number" name="ageDay" ng-model="ageDay" max="31" ng-value="00" aria-label="Age" ng-required="!existingPatient">
                                    <div ng-messages="personalInfoFrm.ageDay.$error" style="color:maroon" role="alert">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                        
                        <div flex="30">
                            <md-input-container>
                                <md-radio-group name="patientSex" ng-model="main.patientInfo.sex" layout="row" ng-required="!existingPatient">
                                    <span style="font-weight: 500">Gender:&nbsp;</span>
                                    <md-radio-button value="Male" class="md-primary md-accent"> Male </md-radio-button>
                                    <md-radio-button value="Female" class="md-primary">Female</md-radio-button>
                                </md-radio-group>
                                <div ng-messages="personalInfoFrm.patientSex.$error" style="color:maroon" role="alert">
                                    <div ng-message="required">Required</div>
                                </div>
                            </md-input-container>
                        </div>
                        
                        <div flex="25">
                            <md-input-container class="md-block">
                                <label>Mobile no</label>
                                <input type="text" name="patiengPhone" ng-model="main.patientInfo.phone" ng-required="!existingPatient">
                                <div ng-messages="personalInfoFrm.patiengPhone.$error" style="color:maroon" role="alert">
                                    <div ng-message="required">Required</div>
                                    <div ng-message="md-maxlength">The Patient Name must be less than 250 characters long.</div>
                                </div>
                                
                            </md-input-container>
                        </div>
                        <div flex="25">
                            <md-input-container class="md-block">
                                <label>C/O</label>
                                <input type="text" ng-model="main.patientInfo.co">
                            </md-input-container>
                        </div>

                        <div flex="45">
                            <md-input-container class="md-block" layout="row">
                                <label>Address</label>
                                <textarea ng-model="main.patientInfo.address"></textarea>
                            </md-input-container>
                        </div>

                       
                    </div>
                    <p style="margin-top:0px;margin-bottom: 0px">
                        <strong style="margin: 0; padding:10px">Hospital Info</strong>
                        <md-checkbox ng-model="existingHodpital" md-colors="{color: 'accent-400'}" ng-change="refreshObject(main.referralInfo, 'referral_InfoId')">
                            <strong>Existing Hospital ?</strong>
                        </md-checkbox>
                    </p>

                    <div layout="row" layout-wrap>
                    <!--br-->
                        <md-input-container flex="45" ng-if="!existingHodpital">
                            <label>Hospital Name</label>
                            <input type="text" name="hospitalName" ng-model="main.referralInfo.name" ng-required="!existingHodpital">
                            
                            <div ng-messages="personalInfoFrm.hospitalName.$error" style="color:maroon" role="alert">
                                    <div ng-message="required">Required</div>
                                </div>
                        </md-input-container>
                        <div flex="45" ng-if="existingHodpital">
                            <md-autocomplete flex 
                                ng-required="existingHodpital"
                                md-input-name="autocompleteField" 
                                md-selected-item="selectedHospital" 
                                md-search-text="ref.searchText"
                                md-items="item in querySearch('referral', ref.searchText)"
                                md-selected-item-change="changeReffered(item)"
                                md-item-text="item.name" 
                                md-require-match
                                md-floating-label="Hospital Name">
                                <md-item-template>
                                    <span md-highlight-text="ref.searchText">{{item.name}}</span>
                                </md-item-template>
                                <div ng-messages="personalInfoFrm.autocompleteField.$error" style="color:maroon" role="alert">
                                        <div ng-message="required">Required</div>
                                    </div>
                            </md-autocomplete>
                        </div>

                        <div flex="20" flex-offset="5">
                            <md-input-container class="md-block">
                                <label>Hospital Reg. No.</label>
                                <input type="text" name="referralRegNo" ng-model="main.referralInfo.regNo">
                            </md-input-container>
                        </div>
                        <div flex="15" flex-offset="10">
                            <md-input-container class="md-block">
                                <label>Ward/Bed</label>
                                <input type="text" name="wardBed" ng-model="main.wardBed">
                            </md-input-container>
                        </div>
                        <!--br-->
                    </div>

                    <p style="margin-top:0px;margin-bottom: 0px">
                        <strong style="margin: 0; padding:10px">Doctor Info</strong>
                        <md-checkbox ng-model="existingDoctor" md-colors="{color: 'accent-400'}" ng-change="refreshObject(main.doctorInfo, 'doctor_InfoId')">
                            <strong>Existing Doctor ?</strong>
                        </md-checkbox>
                    </p>
                    <div layout="row" layout-wrap>
                        <div flex="45">
                            <md-input-container ng-if="!existingDoctor" class="md-block">
                                <label>Referred by Dr</label>
                                <input type="text" name="doctorName" ng-model="main.doctorInfo.name" ng-required="!existingDoctor">
                                <div ng-messages="personalInfoFrm.doctorName.$error" style="color:maroon" role="alert">
                                        <div ng-message="required">Required</div>
                                    </div>
                            </md-input-container>
                            <md-autocomplete flex 
                                ng-if="existingDoctor"
                                ng-required="existingDoctor"
                                md-input-name="autocompleteField" 
                                md-selected-item="selectedDocotr" 
                                md-search-text="doc.searchText" 
                                md-items="item in querySearch('doctor',doc.searchText)"
                                md-selected-item-change="changeDocotor(item)"
                                md-item-text="item.name" 
                                md-require-match 
                                md-floating-label="Referred by Dr">
                                <md-item-template>
                                    <span md-highlight-text="doc.searchText">{{item.name}}</span>
                                </md-item-template>
                                <!-- <md-not-found>
                                        Add Doctor
                                    </md-not-found>
                                <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                                    <div ng-message="required">You
                                        <b>must</b> have a favorite state.</div>
                                    <div ng-message="md-require-match">Please select an existing state.</div>
                                    <div ng-message="minlength">Your entry is not long enough.</div>
                                    <div ng-message="maxlength">Your entry is too long.</div>
                                </div> -->
                            </md-autocomplete>
                        </div>
                        <div flex="35" flex-offset="5">
                            <md-input-container class="md-block">
                                <label>Speciality</label>
                                <input type="text" name="doctorSpeciality" ng-model="main.doctorInfo.speciality">
                            </md-input-container>
                        </div>

                        <!--br-->
                        <div flex="45">
                            <md-input-container class="md-block">
                                <label>Email(doctor)</label>
                                <input type="email" name="doctorEmail" ng-model="main.doctorInfo.email">
                            </md-input-container>
                        </div>
                        <div flex="35" flex-offset="5">
                            <md-input-container class="md-block">
                                <label>Mobile no</label>
                                <input type="text" name="doctorPhone" ng-model="main.doctorInfo.phone">
                                
                            </md-input-container>
                        </div>

                    </div>

                    <p style="margin-top:0px;margin-bottom: 0px">
                        <strong style="margin: 0; padding:10px">Marketing Info</strong>
                        <md-checkbox ng-model="existing" md-colors="{color: 'accent-400'}" ng-change="refreshObject(main.referralMarketingInfo, 'referral_Marketing_InfoId')">
                            <strong>Existing ?</strong>
                        </md-checkbox>
                    </p>
                    <div layout="row" layout-wrap>
                        <div flex="45">
                            <md-input-container ng-if="!existing" class="md-block">
                                <label>Name</label>
                                <input type="text" name="Name" ng-model="main.referralMarketingInfo.name">
                                <div ng-messages="personalInfoFrm.Name.$error" style="color:maroon" role="alert">
                                    <div ng-message="required">Required</div>
                                </div>
                            </md-input-container>
                            <md-autocomplete flex
                                             ng-if="existing"
                                             ng-required="existing"
                                             md-input-name="autocompleteField"
                                             md-selected-item="selectedMarketing"
                                             md-search-text="mark.searchText"
                                             md-items="item in querySearch('referralMarketing',mark.searchText)"
                                             md-selected-item-change="changeMarketingInfo(item)"
                                             md-item-text="item.name"
                                             md-require-match
                                             md-floating-label="Name">
                                <md-item-template>
                                    <span md-highlight-text="mark.searchText">{{item.name}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                        <div flex="35" flex-offset="5">
                            <md-input-container class="md-block">
                                <label>Address</label>
                                <input type="text" name="address" ng-model="main.referralMarketingInfo.address">
                            </md-input-container>
                        </div>
                    </div>
                </ng-form>
            </md-card-content>
        </md-card>

    </md-content>


        <div layout="row" layout-xs="column" layout-padding="left" style="padding-top: 0px">
            <div flex="60" style="padding-right: 0px">

                    <h4 layout="row" layout-align="center center" md-colors="{color: 'primary-600'}"
                        style="padding-top: 0px;padding-bottom: 0px">Specimen</h4>

                    <inv-row ng-repeat="item in main.specimenReport track by $index" item="item" items="main.specimenReport"></inv-row>

                    
                <div layout="row" layout-padding>
                    <div flex>
                        <strong>Total: {{ calc.TotalBill(main.specimenReport) }} | Net Total: {{ calc.NetTotalBill(main.specimenReport) }}</strong>
                    </div>
                    <div  flex>
                        <md-button class="md-primary" style="float: right;" ng-click="addButton()" title="add new">
                            <i class="material-icons">add</i>
                        </md-button>
                    </div>
                </div>

            </div>
            <div flex="40" style="padding-left: 0px">
                <md-card>
                    <md-card-title style="padding-top: 0px;padding-bottom: 0px" layout="row" layout-align="center center">
                        <h4 md-colors="{color: 'primary-600'}" style="padding-top: 0px;padding-bottom: 0px">Calculation</h4>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row">
                            <div flex layout="row" layout-align="center center">
                                <label>Total Bill Amount:</label>
                            </div>
                            <div flex>
                                <md-input-container>
                                    <input type="text" ng-value="calc.TotalBill(main.specimenReport)" aria-label="calculation" ng-disabled="true">
                                </md-input-container>
                            </div>
                        </div>
                        <!-- <div layout="row">
                            <div flex layout="row" layout-align="center center">
                                <label>Hos. Dis.: (%)</label>
                            </div>
                            <div flex>
                                <md-input-container>
                                    <input type="text" ng-model="main.hosDisPerchentage" aria-label="calculation">
                                </md-input-container>
                            </div>


                        </div> -->
                        <div layout="row">
                            <div flex layout="row" layout-align="center center">
                                <label>Adjustment Dis. :</label>
                            </div>
                            <div flex>
                                <md-input-container>
                                    <input type="text" ng-model="main.adjustmentDiscount" aria-label="calculation">
                                </md-input-container>
                            </div>


                        </div>
                        <!-- <div layout="row">
                            <div flex layout="row" layout-align="center center">
                                <label>Doctor Dis. (%) :</label>
                            </div>
                            <div flex>
                                <md-input-container>
                                    <input type="text" aria-label="calculation" ng-readonly="true">
                                </md-input-container>
                            </div>


                        </div>
                        <div layout="row">
                            <div flex layout="row" layout-align="center center">
                                <label>Referral Dis.(%) :</label>
                            </div>
                            <div flex>
                                <md-input-container>
                                    <input type="text" aria-label="calculation" ng-readonly="true">
                                </md-input-container>
                            </div>


                        </div> -->
                        <div layout="row">
                            <div flex layout="row" layout-align="center center">
                                <label>Total Discount :</label>
                            </div>
                            <div flex>
                                <md-input-container>
                                    <input type="text" ng-value="calc.TotalAdjustedDiscount(main.specimenReport, main.adjustmentDiscount)" aria-label="calculation" ng-readonly="true">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex layout="row" layout-align="center center">
                                <label>Total Receivable :</label>
                            </div>
                            <div flex>
                                <md-input-container>
                                    <input type="text" ng-value="calc.TotalReceivable(main.specimenReport, main.adjustmentDiscount)" aria-label="calculation" ng-readonly="true">
                                </md-input-container>
                            </div>


                        </div>
                        <div layout="row">
                            <div flex layout="row" layout-align="center center">
                                <label>Received Amount :</label>
                            </div>
                            <div flex>
                                <md-input-container>
                                    <input type="text" ng-model="main.receivedAmount" aria-label="calculation">
                                </md-input-container>
                            </div>
                        </div>

                        <div layout="row" ng-hide="getDueAmount() == 0">
                            <div flex layout="row" layout-align="center center">
                                <label>Due Amount :</label>
                            </div>
                            <div flex>
                                <md-input-container>
                                    <input type="text" ng-value="getDueAmount()" aria-label="calculation" ng-readonly="true">
                                </md-input-container>
                            </div>
                        </div>

                        <div layout="row" ng-hide="getChangeAmount() == 0">
                            <div flex layout="row" layout-align="center center">
                                <label>Change Amount :</label>
                            </div>
                            <div flex>
                                <md-input-container>
                                    <input type="text" ng-value="getChangeAmount()" aria-label="calculation" ng-readonly="true">
                                </md-input-container>
                            </div>
                        </div>



                    </md-card-content>
                </md-card>
            </div>
        </div>

            <div layout="row">
                <md-input-container flex="95">
                    <label>Remarks</label>
                    <input ng-model="main.remarks" type="text">
                </md-input-container>
            </div>
        


    <!-- <pre>
        {{invoiceForm.personalInfoFrm|json}}
    </pre> -->

    <div layout="row" layout-sm="column" layout-align="center center">
        <md-button ng-disabled="invoiceForm.$invalid || buttonDisable" class="md-raised md-accent" ng-click="save()">save</md-button>
        <md-button class="md-raised md-primary" ng-click="createNew($event)">create new</md-button>
    </div>
</form>

