<md-toolbar layout="row" class="md-hue">
    <h2 class="md-toolbar-tools">
        <span>Lab Invoice</span>
    </h2>
    <span flex></span>

    <md-button ng-click="toggleLeft()" title="search">
        <i class="material-icons">search</i>
    </md-button>
</md-toolbar>

<div layout="row">
    <md-sidenav class="md-sidenav-left hidden-print" md-component-id="search-nav" flex>
        <md-content layout-padding>
            <h3>Advance Search</h3>
            
            <form name="frmInvoiceSearch" layout="column" novalidate ng-submit="Search()">
                <!-- <pre>
                        {{selectedReceiptNo|json}}
                </pre> -->
                <div flex>
                <md-autocomplete flex
                        md-input-name="autocompleteField"
                        md-selected-item="selectedReceiptNo"
                        md-search-text="srcReceiptNo"
                        md-items="item in ReceiptQuerySearch('receipt', srcReceiptNo)"
                        md-item-text="item.id"
                        md-require-match
                        md-floating-label="Receipt No.">
                    <md-item-template>
                        <span md-highlight-text="DrSearchText">{{item.id}}</span>
                    </md-item-template>
                    <!-- <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                        <div ng-message="required">You <b>must</b> have a favorite state.</div>
                        <div ng-message="md-require-match">Please select an existing state.</div>
                        <div ng-message="minlength">Your entry is not long enough.</div>
                        <div ng-message="maxlength">Your entry is too long.</div>
                    </div> -->
                </md-autocomplete>
                        <!-- <md-input-container class="md-block">
                            <label>Receipt</label>
                            <input type="text" ng-model="src.receiptNo" md-placeholder="Receipt No">
                        </md-input-container> -->
                </div>

                <div flex>
                    <md-autocomplete flex
                            md-input-name="autocompleteField"
                            md-selected-item="selectedDocotr"
                            md-search-text="DrSearchText"
                            md-items="item in querySearch('doctor', DrSearchText)"
                            md-item-text="item.name"
                            md-require-match
                            md-floating-label="Referred by dr.">
                        <md-item-template>
                            <span md-highlight-text="DrSearchText">{{item.name}}</span>
                        </md-item-template>
                        <!-- <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                            <div ng-message="required">You <b>must</b> have a favorite state.</div>
                            <div ng-message="md-require-match">Please select an existing state.</div>
                            <div ng-message="minlength">Your entry is not long enough.</div>
                            <div ng-message="maxlength">Your entry is too long.</div>
                        </div> -->
                    </md-autocomplete>
                </div>
                

                <div flex>
                    <md-input-container class="md-block">
                        <label>Start Date</label>
                        <md-datepicker ng-model="fromDate" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container class="md-block">
                        <label>End Date</label>
                        <md-datepicker ng-model="toDate" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                </div>


                <div class="md-errors-spacer"></div>


                <div style="padding-top: 20px;">
                    <md-button type="button" ng-click="Reset()" class="md-raised md-primary">cancel</md-button>
                    <md-button type="submit" class="md-raised md-accent">Search</md-button>
                </div>

            </form>
        </md-content>
    </md-sidenav>
    <md-content flex>
        <p ng-if="!labInvoiceList || labInvoiceList.length == 0">
            No matching data found <md-button ng-click="toggleLeft()">Search</md-button> again
        </p>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="invoice in labInvoiceList">

                <div class="md-list-item-text">
                    <strong md-colors="{color: 'accent-600'}">Invoice No: {{invoice.id}} </strong>
                    <h3>Total Bill : {{invoice.totalBillAmount}} Tk., Cash Received : {{invoice.totalReceivedAmount}}  Tk., Current Due : {{invoice.currentDueAmount}}  Tk.</h3>
                    <p>Receipt Date Time : {{invoice.receiptDateTime + 'Z' | date: 'dd/MM/yyyy hh:mm a' }}</p>


                </div>
                <md-button layout="row" layout-align="center center" class="md-secondary" ui-sref="root.dashboard.createLabInvoice({id: invoice.id})">
                    <md-tooltip md-direction="top">Edit</md-tooltip>
                    <i class="material-icons">mode_edit</i>
                </md-button>
                <md-button ng-disabled="invoice.currentDueAmount <= 0" layout="row" layout-align="center center" class="md-secondary" ui-sref="root.dashboard.invoiceDueCollection({id:invoice.id })">
                    <md-tooltip md-direction="top">due collection</md-tooltip>
                    <i class="material-icons">collections</i>
                </md-button>
                <md-button layout="row" layout-align="center center" class="md-secondary" ui-sref="root.dashboard.printInvoice({id: invoice.id})" target="_blank">
                    <md-tooltip md-direction="top">print</md-tooltip>
                    <i class="material-icons">print</i>
                </md-button>
                <md-button layout="row" layout-align="center center" class="md-secondary" ng-click="Delete($event, labInvoiceList, invoice)">
                    <md-tooltip md-direction="top">delete</md-tooltip>
                    <i class="material-icons">delete</i>
                </md-button>

                <md-divider></md-divider>
            </md-list-item>
        </md-list>

    </md-content>

    <md-button class="md-fab md-fab-bottom-right" ui-sref="root.dashboard.createLabInvoice" aria-label="new">
        <md-tooltip md-direction="top">Add new Item</md-tooltip>
        <i class="material-icons">add</i>
    </md-button>

</div>

