

<style>
    @media print{
        body{
            width: 144.5mm !important;
            margin: auto;
        }

    }
    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td,
    .table > tfoot > tr > th,
    .table > tfoot > tr > td {
        padding: 2px; }

    .printCss {
        font-size: .75em;
    }
    .box{
        border: solid;
        border-color: #999999;
        padding-top: 5px;
        padding-left: 5px;
        text-align: center;
    }
    strong{
        font-weight: 400;
    }
</style>




    <!-- <div layout="column" layout-align="center center">
        <div>
            <strong>
                {{profile.name}}
            </strong>
        </div>
        <div>{{profile.address}}</div>
        <div>Phone: {{profile.phone}}</div>
        <div>Email: {{profile.email}}</div>
        <div>Web: {{profile.url}}</div>


    </div> -->

    <company-header></company-header>

    <h3 layout="row" layout-align="center center" style="margin-bottom: 0px; font-weight: 400">Cash Memo</h3>

    <div layout="row">
        <table class="table printCss" style="margin-bottom: 10px;">
            <tbody>
                <tr>
                    <td colspan="2"><strong>Receipt No: </strong>{{main.id}}</td>
					<td><strong>Receipt Date:</strong> {{main.receiptDateTime + 'Z' | date: 'dd-MM-yyyy : hh:mm a' }}</td>
                    <!--<td><strong>Delivery Date: </strong>{{main.deliveryDateTime}}</td>-->
                    
                </tr>
                <tr>
                    <td colspan="2"><strong>Patient ID: </strong> {{main.patientInfo.id}}</td>
                    <td><strong>Age: </strong>{{main.patientInfo.age.split('-')[0]}}Y {{main.patientInfo.age.split('-')[1]}} M {{main.patientInfo.age.split('-')[2]}} D</td>

                    
                </tr>
                <tr>
                    <td colspan="2"><strong>Patient Name:</strong> {{main.patientInfo.name}}</td>
                    <td><strong>Gender: </strong>{{main.patientInfo.sex}}</td>

                </tr>
                <tr>
                    <td colspan="2"><strong>Hospital: </strong>{{main.referralInfo.name}}</td>
                    <td><strong>Mobile: </strong>{{main.patientInfo.phone}}</td>

                </tr>
                <tr>
                    <td colspan="2"><strong>Ref. By:</strong> {{main.doctorInfo.name }}</td>
                    <td><strong>Address:</strong>{{main.patientInfo.address}}</td>

                </tr>
            </tbody>
        </table>
    </div>

    <div layout="row">
        <table class="table table-striped printCss" style="margin-bottom: 5px;">
            <thead>
            <tr></tr>
                <tr>
                    <th>SL</th>
                    <th>Lab No</th>
                    <th>Specimen</th>
                    <th>Delivery Date</th>
                    <th>Charge</th>
                    <th>Dis %</th>
                    <th>Adj. Dis</th>
                    <th>Net Total (BDT)</th>
                </tr>
            </thead>
            <tbody>
            <!--ng-repeat="s in main.specimenReport track by $index"-->
            <!--{{s.specimenInfo.specimen}}-->
            <!--{{s.charge}}-->
                <tr ng-repeat="s in main.specimenReport track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{s.id}}</td>
                    <td>{{s.specimenInfo.specimen}}</td>
                    <td>{{s.deliveryDateTime | date: 'dd-MM-yyyy' }}</td>
                    <!--<td>{{s.deliveryDateTime | date: 'dd-MM-yyyy : HH:mm a ' }}</td>-->
                    <td>{{s.charge}}</td>
                    <td>{{s.discountPerchentage}}</td>
                    <td>{{s.specialDiscount }}</td>
                    <td>{{ rowNetTotal( s.charge,s.discountPerchentage,s.specialDiscount ) }}</td>
                    <!--main.adjustmentDiscount + main.hosDisPerchentage-->
                </tr>
                <tr>
                    <td style="vertical-align:middle; text-align: center;" colspan="4" rowspan="4"  ng-show="main.dueAmount == 0"><h2 >Paid</h2> </td>
					<td style="vertical-align:middle; text-align: center;" colspan="4" rowspan="5" ng-show="main.dueAmount > 0"><h2>Due</h2> </td>
                    <td colspan="3"><strong>Total bill: </strong></td>
                    <td>{{main.totalBillAmount | number: 2}}</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Total Discount:</strong></td>
                    <td>{{main.totalDiscount | number: 2}}</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Total Receivable:</strong></td>
                    <td>{{main.receivableAmount | number: 2}}</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Total Cash Amount:</strong></td>
                    <td>{{main.totalReceivedAmount | number: 2}}</td>
                </tr>
                <tr ng-if="main.dueAmount != 0">
                    <td colspan="3" ng-if="main.dueAmount > 0"><strong>Due Amount:</strong></td>
                    <td colspan="3" ng-if="main.dueAmount < 0"><strong>Change Amount:</strong></td>
                    <td>{{deuAmount(main.dueAmount)}}</td>
                </tr>
                <tr>
                    <td colspan="8"><strong>Amount in words: </strong>
                        <strong ng-if="main.receivedAmount">{{ main.receivedAmount | inWords}}</strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="8"><strong>Remarks: </strong>{{main.remarks}}</td>
                </tr>

            </tbody>

        </table>
    </div>


    <div layout="row">
        <!--<div flex="35" class="box" layout-align="center center">-->
            <!--<strong>Due Received : {{main.dueAmount}} Tk.</strong>-->

        <!--</div>-->
        <div layout="column" flex-offset="70" flex="30">
            <div layout="row" layout-align="center center" flex>
                <span>{{main.employeeInfo.name}}</span>
            </div>
            <div layout="row" layout-align="center center" style="border-top: 1px solid">
                <strong>Signature</strong>
            </div>
        </div>

    </div>
