<html lang="en" ng-app="nproject">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="icon" href="https://daffodilvarsity.edu.bd/images/diu/favicon.ico" type="image/gif">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <!-- build:css -->
    <link rel="stylesheet" href="assets/css/angular-material.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/textAngular.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap2.css"> -->
    <!--<link rel="stylesheet" href="assets/css/print.css">-->
    <!-- endbuild -->

    <!--<link href="assets/css/bootstrap.css" rel="stylesheet">-->


    <title>{{title}}</title>

    <style>
    table{
        border-spacing: 0;
    }
    </style>

</head>
<body layout="column">
    <p ng-if="!online" layout="row" layout-align="center center" md-colors="{'color': 'warn'}">
        <strong>Internet connection not available!!!</strong>
    </p>
<div class="hidden-print" ng-controller="logOutCtrl">

    

    <md-nav-bar nav-bar-aria-label="navigation links"
                md-selected-nav-item="currentNavItem">

        <md-button class="md-primary" >
            <i class="material-icons">menu</i>
        </md-button>

        <md-nav-item style="color: #fff;" md-nav-sref="#" name="home"><strong>{{title}}</strong></md-nav-item>

        <span flex></span>
        <md-nav-item  md-nav-sref="root.login"  name="login">
            <md-tooltip md-direction="bottom">Log In</md-tooltip>
            <i class="material-icons">fingerprint</i>
        </md-nav-item>
        <!--<md-nav-item md-nav-sref="root.dashboard.changePassword"  name="login">Change Password-->
            <!--<md-tooltip md-direction="bottom">Change Password</md-tooltip>-->
        <!--</md-nav-item>-->

        <md-nav-item ng-if="isAuthorise()" md-nav-click="logout()" name="logout">Logout</md-nav-item>



    </md-nav-bar>

</div>


<div layout="row" ui-view flex></div>

<!-- Angular Material requires Angular.js Libraries -->
<!-- build:jslibrary -->
<script type="text/javascript" src="assets/js/angular.js"></script>
<script type="text/javascript" src="assets/js/angular-messages.js"></script>
<script type="text/javascript" src="assets/js/angular-animate.js"></script>
<script type="text/javascript" src="assets/js/angular-aria.js"></script>
<script type="text/javascript" src="assets/js/angular-sanitize.js"></script>
<script type="text/javascript" src='assets/js/textAngular-rangy.min.js'></script>
<script type="text/javascript" src='assets/js/textAngular-sanitize.min.js'></script>
<script type="text/javascript" src='assets/js/textAngular.min.js'></script>
<script type="text/javascript" src="assets/js/angular-material.js"></script>
<!-- <script type="text/javascript" src="assets/js/angular-filter.js"></script> -->
<script type="text/javascript" src="assets/js/ocLazyLoad.js"></script>
<script type="text/javascript" src="assets/js/ui-router.js"></script>
<script type="text/javascript" src="assets/js/moment.js"></script>

<!-- endbuild -->

<!-- Angular Material Library -->

<!-- build:js -->
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="stateConfig.js"></script>
<script type="text/javascript" src="logOutController.js"></script>
<script type="text/javascript" src="shared/Factory/httpRequestInterceptor.js"></script>
<script type="text/javascript" src="shared/Factory/tockenFactory.js"></script>
<script type="text/javascript" src="shared/Factory/authFactory.js"></script>

<!--<script type="text/javascript" src="shared/factory/formEncodeFactory.js"></script>-->


<!-- endbuild -->




</body>
</html>
