<style>
    md-input-container{
        margin-bottom: 0px;
        padding-left: 5px;
        height: 40px;
    }
    h4{
        margin: 0px;
    }
</style>

<md-card flex-offset="25" flex="50" flex-offset="25">
    <h4 layout="row" layout-align="center" class="md-headline">Create User Role</h4>
    <ng-form name="userInfoFrm">
        <pre>{{main|json}}</pre>
        <div layout="column" layout-padding>
            <md-input-container>
                <label>Employee ID</label>
                <input type="text" name="EmpID" ng-model="main.employeeId" ng-required="true">
                <div ng-messages="userInfoFrm.EmpID.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                    <!--<div ng-message="md-maxlength">The Group Name must be less than 250 characters long.</div>-->
                </div>
            </md-input-container>

            <md-input-container>
                <label>User Name</label>
                <input type="text" name="userName" ng-model="main.userName" ng-required="true">
                 <div ng-messages="userInfoFrm.userName.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                    <!--<div ng-message="md-maxlength">The Group Name must be less than 250 characters long.</div>-->
                </div>
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password" name="pass" ng-model="main.passwordHash" ng-required="true">
                 <div ng-messages="userInfoFrm.pass.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                    <!--<div ng-message="md-maxlength">The Group Name must be less than 250 characters long.</div>-->
                </div>
            </md-input-container>

            <md-input-container>
                <label>Confirm Password</label>
                <input type="password" name="confirmPass" ng-model="main.confirmPasswordHash" ng-required="true">
                 <div ng-messages="userInfoFrm.confirmPass.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                    <!--<div ng-message="md-maxlength">The Group Name must be less than 250 characters long.</div>-->
                </div>
            </md-input-container>

            <md-input-container>
                <label>Email</label>
                <input type="email" name="email" ng-model="main.email" ng-required="true">
                 <div ng-messages="userInfoFrm.email.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                    <!--<div ng-message="md-maxlength">The Group Name must be less than 250 characters long.</div>-->
                </div>
            </md-input-container>

            <md-input-container>
                <label>Phone</label>
                <input type="text" name="phone" ng-model="main.phoneNumber" ng-required="true">
                 <div ng-messages="userInfoFrm.phone.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                    <!--<div ng-message="md-maxlength">The Group Name must be less than 250 characters long.</div>-->
                </div>
            </md-input-container>


        </div>
        <div layout="row" layout-align="center">
            <md-button ng-click="cancel()">cancel</md-button>
            <md-button ng-disabled="userInfoFrm.$invalid || !enableBtn" class="md-raised md-primary" ng-click="save()">save</md-button>
        </div>

    </ng-form>

</md-card>