<style>
    h4{
        margin: 0px;
    }
</style>

<md-card>
    <h4 layout="row" layout-align="center" class="md-headline">User Info</h4>

    <md-button class="md-fab md-fab-bottom-right" ui-sref="root.dashboard.authorisation.createUserInfo" aria-label="new">
        <md-tooltip md-direction="top">Add new Item</md-tooltip>
        <i class="material-icons">add</i>
    </md-button>

    <md-input-container style="width: 20%;height: 40px;margin: 0px">
        <label>Search</label>
        <input type="search">
    </md-input-container>

<div layout="row">
    <div flex-offset="10" flex="70">
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="user in userRoleList | filter:srcText">

                <div class="md-list-item-text">
                    <span class="md-headline"> {{user.userName}},</span>
                    <h4 class="md-display-2"> Employee Id: {{user.employeeId}}, Phone No: {{user.phoneNumber}},</h4>
                    <p>Email: {{user.email}}</p>
                    <!--<h3>commission: {{test.doctorComission}} </h3>-->
                </div>
                <md-button layout="row" layout-align="center center" class="md-secondary" ui-sref="root.dashboard.authorisation.createUserInfo({id: user.id})">
                    <md-tooltip md-direction="top">Edit</md-tooltip>
                    <i class="material-icons">mode_edit</i>
                </md-button>
                <md-button layout="row" layout-align="center center" class="md-secondary">
                    <md-tooltip md-direction="top">delete</md-tooltip>
                    <i class="material-icons">delete</i>
                </md-button>
                <!-- <md-button layout="row" layout-align="center center" class="md-secondary">
                     <md-tooltip md-direction="top">print</md-tooltip>
                     <i class="material-icons">print</i>
                 </md-button>-->
                <md-divider></md-divider>

            </md-list-item>
        </md-list>
    </div>
</div>

</md-card>


