
<md-toolbar layout="row" class="md-hue">
    <h3 class="md-toolbar-tools" layout="row" layout-align="center center">
        <span>Voucher Posting</span>
    </h3>
</md-toolbar>


<div layout="row" layout-padding>


    <div flex="20">
        <h3>Advance Search</h3>
        <form name="frmReportSearch" layout="column">
            <div flex>
                <md-input-container class="md-block">
                    <label>Start Date</label>
                    <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
            </div>
            <div flex>
                <md-input-container class="md-block">
                    <label>End Date</label>
                    <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
            </div>
            <div flex layout-align="space-between center">
                <md-select ng-model="armor" placeholder="Voucher Type" class="md-no-underline" required>
                    <md-option value="cloth">Receive Voucher</md-option>
                    <md-option value="leather">Payment Voucher</md-option>
                    <md-option value="chain">Journal Voucher</md-option>
                </md-select>
            </div>
            <div flex >
                <div layout="row">
                    <span>Posted ?</span><md-switch ng-model="data.cb1" aria-label="Switch 1" style="margin:0px; padding-left: 10px;padding-bottom: 10px"></md-switch>
                </div>


            </div>


            <div class="md-errors-spacer"></div>


            <div style="padding-top: 20px;">
                <md-button class="md-raised">Search</md-button>
                <md-button class="md-raised md-primary">cancel</md-button>
            </div>

        </form>
    </div>

    <div flex="80">
        <md-content>
            <div style="padding-left:90px; padding-right:90px">
                <md-card>
                    <md-card-content layout="row" layout-padding="left">
                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th>Created Date</th>
                                <th>Voucher no</th>
                                <th>Voucher type</th>
                                <th>Posting type</th>
                                <th>Created by</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>cell</td>
                                <td>cell</td>
                                <td>cell</td>
                                <td>cell</td>
                                <td>cell</td>
                                <td>cell</td>
                            </tr>
                            </tbody>

                        </table>
                    </md-card-content>
                </md-card>
            </div>

        </md-content>
    </div>




</div>




