<style>
    #list a{
        font-weight: 700;
    }
    .divider{
        border-color: white;
    }

</style>

<md-sidenav class="md-sidenav-left hidden-print" md-colors="{'background-color': 'primary-800'}" md-component-id="main-nav"
            md-is-locked-open="$mdMedia('gt-md')" style="width: 260px;">

    <md-toolbar class="md-hue">
        <div class="md-toolbar-tools">

            <h1 flex md-truncate layout="row">
                <i class="material-icons">account_circle</i> &nbsp; {{User()}}
            </h1>
            <!-- <md-select ng-model="weapon" placeholder="Administrator"> -->
            <!-- <md-select ng-model="weapon">
                <md-option><a ui-sref="root.dashboard.changePassword">Change Password </a></md-option>
            </md-select> -->

            <!-- <md-menu>
                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="dashMaster.openMenu($mdMenu, $event)">
                  <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>
                </md-button>
                <md-menu-content width="4">
                  <md-menu-item>
                    <md-button ng-click="dashMaster.redial($event)">
                      <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                      Redial
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu> -->

        </div>
    </md-toolbar>
    <md-divider class="divider"></md-divider>

    <md-list id="list">
        <!-- <md-menu-item >
            <md-button>Home</md-button>
        </md-menu-item> -->
        <md-menu-item>
            <md-button ui-sref-active="md-hue-3" ui-sref="root.dashboard.labGroup">Specimen Group</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ui-sref="root.dashboard.labInvestigation">Specimen Info</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ui-sref="root.dashboard.invoiceTemplate">Specimen Template</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ui-sref="root.dashboard.labInvoice">Lab Invoice</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ui-sref="root.dashboard.dueCollectionList">Lab Due Collection</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ui-sref="root.dashboard.createBundleDueCollection">Bundle Due Collection</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ui-sref="root.dashboard.labReportList">Lab Reporting</md-button>
        </md-menu-item>
        <!--<md-menu-item>-->
            <!--<md-button ui-sref="root.dashboard.reportDeliverySystem({status: 'pending'})">Report Delivery</md-button>-->
        <!--</md-menu-item>-->
        <md-menu-item>
            <md-button ui-sref="root.dashboard.collectionReport">Collection Report</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ui-sref="root.dashboard.monthwiseDueReport">Monthwise Due Report</md-button>
        </md-menu-item>
        <!-- <md-menu-item>
            <md-button ui-sref="root.dashboard.collectionReportSummaraized">Collection Report Summarized</md-button>
        </md-menu-item> -->
        <md-menu-item>
            <md-button ui-sref="root.dashboard.accounts.homeAccounts">Accounts</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ui-sref="root.dashboard.authorisation.roleUser">Authorization</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ui-sref="root.dashboard.changePassword">Change Password</md-button>
        </md-menu-item>
    </md-list>

</md-sidenav>


<md-content class="lightblue" flex>

    <div ui-view="dashboardHomeContent"></div>
</md-content>






