<style>
    .material-icons.md-48 {
        font-size: 48px;
    }
</style>

<div layout="column" flex>


    <h1 layout="row" layout-align="center center" class="md-headline">
        <span>LOGIN</span>
    </h1>

    <md-content layout="row" layout-align="center center">
        <form name="frm" novalidate flex-lt-md="100" flex-gt-md="25" ng-submit="login()">
            <md-input-container class="md-block">
                <label>User Name</label>
                <input type="text" ng-model="user.username">
            </md-input-container>
            <md-input-container class="md-block" style="margin-bottom: 0px;">
                <label>Password</label>
                <input type="password" ng-model="user.password">
            </md-input-container>
            <!-- <div layout="row" layout-align="end center">
                <a ui-sref="root.dashboard.home"><strong>Forgot password ?</strong></a>
            </div> -->

            <div ng-if="errorMessage" md-colors="{'color': 'warn'}">
                {{errorMessage}}
            </div>

            <div class="flex-container" layout="row">
                <div ng-if="disableBtn">
                    <md-progress-circular md-mode="indeterminate" md-diameter="35"></md-progress-circular>
                </div>
                <md-button ng-disabled="disableBtn" class="md-raised md-primary" type="submit">Login</md-button>
                <span flex></span>
                <a layout="row" layout-align="end center" ui-sref="root.forgotPass"><strong>Forgot password ?</strong></a>
            </div>
        </form>
    </md-content>

</div>








