
<md-toolbar layout="row" class="md-hue-3">
    <h2 class="md-toolbar-tools">
        <span>Authorization</span>
    </h2>
</md-toolbar>

<div layout-padding style="text-align: center">
    <md-button class="md-raised" style=" width: 20%;" ui-sref="root.dashboard.authorisation.roleUser">Role</md-button>
    <md-button class="md-raised" style=" width: 20%;" ui-sref="root.dashboard.authorisation.userInfo">User Information</md-button>
    <md-button class="md-raised" style=" width: 20%;" ui-sref="root.dashboard.authorisation.authUserRole">Auth Role User</md-button>
</div>

<div ui-view="homeAuthorizationMaster"></div>