<md-toolbar layout="row" class="md-hue">
    <h2 class="md-toolbar-tools">
        <span>Create Specimen</span>
    </h2>
</md-toolbar>

<md-content layout="row">
    <div flex-offset="25" flex="50" flex-offset="25">
        <md-card>
            <md-card-content>
                <ng-form name="specimenInfoFrm" layout="column">
                    <div layout="column" layout-wrap>
                        <md-input-container class="md-block">
                            <label>Name</label>
                            <input type="text" name="name" ng-model="key.specimen" ng-required="true">
                            <div ng-messages="specimenInfoFrm.name.$error" style="color:maroon" role="alert">
                                <div ng-message="required">Required</div>
                                <!--<div ng-message="md-maxlength">The Group Name must be less than 250 characters long.</div>-->
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Charge</label>
                            <input type="number" name="charge" ng-model="key.charge" ng-required="true" min="0">
                            <div ng-messages="specimenInfoFrm.charge.$error" style="color:maroon" role="alert">
                                <div ng-message="required">Required</div>
                                <div ng-message="min">not less then 0.</div>
                            </div>
                        </md-input-container>


                        <md-input-container>
                            <label>Report Group</label>
                            <md-select ng-model="key.specimen_GroupId"  placeholder="Report Group" class="md-no-underline" ng-required="true">
                                <md-option ng-repeat="specimen in specimenGrpsList" ng-value="specimen.id">{{specimen.groupName}}</md-option>
                            </md-select>
                        </md-input-container>


                        <md-input-container>
                            <label>Report Style</label>
                            <md-select ng-model="key.specimen_Report_StyleId" placeholder="Report Style" class="md-no-underline" ng-required="true">
                                <md-option ng-repeat="spe in specimenStyleList" ng-value="spe.id">{{spe.description}}</md-option>
                            </md-select>
                        </md-input-container>


                        <md-input-container>
                            <label>Report Title</label>
                            <md-select ng-model="key.specimen_Report_TitleId" placeholder="Report Title" class="md-no-underline" ng-required="true">
                                <md-option ng-repeat="s in specimenTitleList" ng-value="s.id">{{s.title}}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container>
                            <md-radio-group ng-model="key.active" layout="row" ng-required="true">
                                <span style="font-weight: 500">Status:&nbsp;</span>
                                <md-radio-button ng-value="true" class="md-primary">Active</md-radio-button>
                                <md-radio-button ng-value="false"> Inactive </md-radio-button>
                            </md-radio-group>
                        </md-input-container>

                    </div>

                    <!--<pre>{{key|json}}</pre>-->

                </ng-form>
                <div layout="row" layout-align="center center" layout-padding="top">
                    <md-button ui-sref="root.dashboard.labInvestigation" class="md-raised">cancel</md-button>
                    <md-button class="md-raised md-primary" ng-disabled="specimenInfoFrm.$invalid || !enableBtn" ng-click="save()">save</md-button>

                </div>

            </md-card-content>
        </md-card>
    </div>

</md-content>