
<div>
    <md-toolbar layout="row" class="md-hue">
        <h2 class="md-toolbar-tools">
            <span>Specimen List</span>
        </h2>
    </md-toolbar>

    <md-content flex>
        <md-card>
            <md-input-container flex-offset="70" style="padding-bottom: 0px; margin-bottom: 0px">
                <label>Search</label>
                <input ng-model="srcText" type="text">
            </md-input-container>
            <md-list style="padding-top: 0px">
                <md-list-item class="md-3-line" ng-repeat="sp in specimenList | filter: srcText">
                    <!--Report Style:{{sp.specimen_Report_StyleId}} ,-->
                    <div class="md-list-item-text" >
                        <strong md-colors="{color: 'accent-600'}">Specimen:{{sp.specimen}}</strong>
                        <h4>Charge: <span class="md-title">{{sp.charge}}</span>Tk. </h4>
                        <p>Specimen Group:{{sp.specimenGroup.groupName}}, Report title:{{sp.specimenReportTitle.title}} , Status:{{sp.active}} ,</p>
                    </div>
                    <md-button layout="row" layout-align="center center" class="md-primary" ui-sref="root.dashboard.addLabInvestigation({id: sp.id})">
                        <md-tooltip md-direction="top">Edit</md-tooltip>
                        <i class="material-icons">mode_edit</i>
                    </md-button>
                    <!--<md-button layout="row" layout-align="center center" class="md-secondary">
                        <md-tooltip md-direction="top">print</md-tooltip>
                        <i class="material-icons">print</i>
                    </md-button>-->
                    <md-button layout="row" layout-align="center center" class="md-primary" ng-click="Delete($event, specimenList, sp)">
                        <md-tooltip md-direction="top">Delete</md-tooltip>
                        <i class="material-icons">delete</i>
                    </md-button>
                    <md-divider></md-divider>

                </md-list-item>

            </md-list>
        </md-card>


    </md-content>

    <md-button class="md-fab md-fab-bottom-right" ui-sref="root.dashboard.addLabInvestigation" aria-label="new">
        <md-tooltip md-direction="top">Add new Item</md-tooltip>
        <i class="material-icons">add</i>
    </md-button>
</div>
