
    <h2 class="md-headline" style="text-align: center">
        <span>Balance Sheet</span>
    </h2>


<md-card>
    <div layout="row" layout-padding>

        <div flex="50">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th colspan="2" class="md-title">Liability</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="lia in liability">
                    <td colspan="2">{{lia.groupTitle}}</td>
                    <td>{{ getAbsTotal(lia.amount) }}</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Total Liability</strong></td>
                    <td><strong>{{liability |calculateBy:"amount" }}</strong></td>
                </tr>
                </tbody>
            </table>
            <div class="md-errors-spacer"></div>
        </div>
        <div flex="50">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="md-title">Asset</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="asset in main">
                    <td>{{asset.groupTitle}}</td>
                    <td>{{asset.amount}}</td>
                </tr>
                <tr>
                    <td colspan="1"><strong>Total Asset</strong></td>
                    <td><strong>{{main |calculateBy:"amount"}}</strong></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

    <!--{{main | json}}-->


</md-card>