<style>
    md-input-container{
        margin: 10px;
    }
    h4{
        margin: 0px;
    }
</style>

<md-card flex-offset="25" flex="50" flex-offset="20">
    <h4 layout="row" layout-align="center" class="md-headline">Add Auth User</h4>
    <ng-form name="authRoleFrm">
        <div layout="column" layout-padding>
            <md-input-container class="md-block">
                <label>Role Name</label>
                <md-select ng-model="main.RoleId"  name="roleName" placeholder="Role" class="md-no-underline" ng-required="true">
                    <md-option ng-repeat="r in authRoleList" ng-value="r.id">{{r.name}}</md-option>
                </md-select>
                <div ng-messages="authRoleFrm.roleName.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>User Name</label>
                <md-select ng-model="main.UserId" name="userName"  placeholder="User" class="md-no-underline" ng-required="true">
                    <md-option ng-repeat="u in authUserlist" ng-value="u.id">{{u.userName}}</md-option>
                </md-select>
                <div ng-messages="authRoleFrm.userName.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>

            <!--<md-input-container class="md-block">-->
                <!--<label>Role Id</label>-->
                <!--<input type="text" ng-model="main.roleId">-->
            <!--</md-input-container>-->


        </div>
        <div layout="row" layout-align="center">
            <md-button ng-click="cancel()">cancel</md-button>
            <md-button ng-disabled="authRoleFrm.$invalid || !enableBtn" class="md-raised md-primary" ng-click="save()">save</md-button>
        </div>

    </ng-form>

</md-card>