<style>
    strong{
        text-align: right;
    }
</style>


<md-toolbar layout="row" class="md-hue">
    <h2 class="md-toolbar-tools">
        <span>Invoice Due collection</span>
    </h2>
</md-toolbar>

<div layout="row" layout-xs="column" layout-padding="left">
    <div flex="40">
        <md-card>
            <!--<md-card-title layout="row" layout-align="center center">-->
                <!--<h4>Investigation</h4>-->
            <!--</md-card-title>-->
            <md-card-content>

                    <p><strong>Patient Id:</strong> {{labInvoiceDues.patientInfo.id}}</p>

                    <p><strong>Patient Name:</strong> {{labInvoiceDues.patientInfo.name}}</p>

                    <p><strong>Receipt No:</strong> {{labInvoiceDues.id}}</p>

                    <p><strong>Receipt Date:</strong> {{labInvoiceDues.receiptDateTime | date: 'dd/MM/yyyy' }}</p>

            </md-card-content>
        </md-card>

    </div>
    <div flex="60">
        <md-card>
            <md-card-content>
                <form name="frminvoiceForm" novalidate>
                    <div layout="row">
                        <div flex style="text-align:  right; padding: 5px">
                            <label><strong>Total Bill Amount:</strong></label>
                        </div>
                        <div flex>
                            <span>{{labInvoiceDues.totalBillAmount}}</span>
                        </div>
                    </div>
                    <!-- <div layout="row">
                        <div flex style="text-align:  right; padding: 5px">
                            <label><strong>Hoslabelital Discount(%):</strong></label>
                        </div>
                        <div flex>
                            <span>{{labInvoiceDues.hosDisPerchentage + labInvoiceDues.adjustmentDiscount}}</span>
                        </div>
                    </div> -->
                    <div layout="row">
                        <div flex style="text-align:  right; padding: 5px">
                            <label><strong>Total Discount:</strong></label>
                        </div>
                        <div flex>
                            <span>{{labInvoiceDues.hosDisPerchentage + labInvoiceDues.adjustmentDiscount}}</span>
                        </div>
                    </div>
                    <div layout="row">
                        <div flex style="text-align:  right; padding: 5px">
                            <label><strong>Total Receivable:</strong></label>
                        </div>
                        <div flex>
                            <span>{{labInvoiceDues.receivableAmount}}</span>
                        </div>
                    </div>
                    <div layout="row">
                        <div flex style="text-align:  right; padding: 5px">
                            <label><strong>DueAmount:</strong></label>
                        </div>
                        <div flex>
                            <span>{{labInvoiceDues.currentDueAmount}}</span>
                        </div>
                    </div>
                    <div layout="row">
                        <div flex style="text-align:  right; padding: 5px">
                            <label><strong>Received Amount:</strong></label>
                        </div>
                        <div flex>
                            <span>{{labInvoiceDues.totalReceivedAmount}}</span>
                        </div>
                    </div>
                    <div layout="row">
                        <div flex style="text-align:  right; padding: 5px">
                            <label><strong>Current Rec. Amt:</strong></label>
                        </div>
                        <div flex>
                            <md-input-container>
                                <input type="number" name="currentReceivedAmount" max="{{labInvoiceDues.currentDueAmount}}" ng-model="currentReceivedAmount">
                                <div ng-messages="frminvoiceForm.currentReceivedAmount.$error" ng-if="frminvoiceForm.currentReceivedAmount.$touched">
                                    <div ng-message="max">Received Amount can not be greater than Due amount.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>

                    <md-input-container class="md-block">
                        <label>Remarks:</label>
                            <input type="text" ng-model="remarks">
                        </md-input-container>

                        <!-- <pre>
                            {{frminvoiceForm|json}}
                        </pre> -->

                    <div layout="row" layout-sm="column" layout-align="center center">
                        <md-button ng-disabled="frminvoiceForm.$invalid " class="md-raised md-accent" ng-click="save()">save</md-button>
                        <md-button class="md-raised md-primary">create new</md-button>
                    </div>

                </form>

            </md-card-content>
        </md-card>
    </div>
</div>