
<style>
    h2{
        margin-bottom: 0px;
    }
</style>

<md-content>
    <div class="visible-print">
        <company-header></company-header>
        <div layout="row" layout-align="center center" ng-if="ReportFor == 'date' ">
            Period: {{src.fromDate | date: 'yyyy-MM-dd' }}, To: {{src.toDate | date: 'yyyy-MM-dd' }}
        </div>

        <h2 class="md-headline" layout="row" layout-align="center center">
            <span>Income Expenditure</span>
        </h2>

    </div>
    <div layout="row"  class="hidden-print" layout-padding style="height: 80px">
        <div flex="20">
            <md-input-container>
                 <md-datepicker ng-model="src.fromDate" md-placeholder="Start date" style="width: 50%"></md-datepicker>
            </md-input-container>
        </div>
        <div flex="20">
            <md-input-container>
                <md-datepicker ng-model="src.toDate" md-placeholder="End date" style="width: 50%"></md-datepicker>
            </md-input-container>
        </div>
        <div flex="20" style="padding-top: 20px"><md-button class="md-raised" ng-click="Search()">search</md-button></div>

    </div>
<!--{{main | json}}-->
    <md-card>
        <div layout="row" layout-padding>

            <div flex="50">
                <md-card >
                    <md-card-content>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th colspan="2">Income</th>
                                <th>Taka</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr>-->
                                <!--<td rowspan="5">Revenue</td>-->
                                <!--<td>Daily Service Charge</td>-->
                                <!--<td></td>-->
                            <!--</tr>-->
                            <tr ng-repeat="income in main | filter:{category:'I'}">
                                <td colspan="2">{{income.accountTitle}}</td>
                                <td>{{ getAbsTotal(income.amount) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>Total Income</strong></td>
                                <td><strong>{{ getAbsTotal( (main | filter:{category:'I'})|calculateBy:"amount" )}}</strong></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="md-errors-spacer"></div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex="50">
                <md-card>
                    <md-card-content>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Expenditure</th>
                                <th>Taka</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="expanse in main | filter:{category:'E'}">
                                <td>{{expanse.accountTitle}}</td>
                                <td>{{expanse.amount}}</td>
                            </tr>
                            <tr>
                                <td colspan="1"><strong>Total Expanse</strong></td>
                                <td><strong>{{(main | filter:{category:'E'})|calculateBy:"amount"}}</strong></td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="md-errors-spacer"></div>
                    </md-card-content>
                </md-card>
            </div>
        </div>

        <md-card-content>
            <div layout="row">
                <table class="table table-bordered">
                    <tr layout="row">
                        <td flex="20">
                            <strong ng-if="getTotal() >= 0">Net Profit</strong>
                            <strong ng-if="getTotal() < 0">Net Loss</strong>
                        </td>
                        <td flex="80"><strong>{{ getAbsTotal( getTotal() ) }}</strong></td>
                    </tr>

                </table>
            </div>
        </md-card-content>
    </md-card>



</md-content>
