<style>
    md-card{
        height: 25%;
        width: 25%;
    }
</style>


<md-content>
    <md-toolbar layout="row" class="md-hue">
        <h2 class="md-toolbar-tools" layout="row" layout-align="center center">
            <span>Index</span>
        </h2>
    </md-toolbar>

    <div layout="row" layout-align="center center" style="padding-top: 40px">
        <!--payment-->
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Voucher</span>
                    <!--<i class="material-icons left">payment</i>-->
                    <span class="md-subhead"></span>
                </md-card-title-text>
            </md-card-title>

            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" style="padding-right: 0px;padding-left:0px;amargin-right: 0px;margin-left: 0px" ui-sref="root.dashboard.accounts.journalVoucher">journal</md-button>
                <md-button class="md-primary" style="padding-right: 0px;padding-left:0px;amargin-right: 0px;margin-left: 0px" ui-sref="root.dashboard.accounts.paymentVoucher">payment</md-button>
                <md-button class="md-primary" style="padding-right: 0px;padding-left:0px;amargin-right: 0px;margin-left: 0px" ui-sref="root.dashboard.accounts.voucherList({fromDate:'', toDate:'', pageNumber: 1, pageSize: 10 })">voucher list</md-button>
                <!--<md-button>Action 2</md-button>-->
            </md-card-actions>
        </md-card>

        <!--Income-->
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Income Expenditure</span>
                    <!--<i class="material-icons center">local_atm</i>-->
                    <span class="md-subhead"></span>
                </md-card-title-text>
            </md-card-title>

            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.dashboard.accounts.incomeExpenditure">go</md-button>
                <!--<md-button>Action 2</md-button>-->
            </md-card-actions>
        </md-card>

        <!--voucher-->
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Trail Balance</span>
                    <!--<i class="material-icons center">receipt</i>-->
                    <span class="md-subhead"></span>
                </md-card-title-text>
            </md-card-title>

            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.dashboard.accounts.trailBalance">go</md-button>
                <!--<md-button>Action 2</md-button>-->
            </md-card-actions>
        </md-card>

    </div>

    <div layout="row">
        <!--Balance Sheet-->
        <md-card style="margin-left: 143px">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Balance Sheet</span>
                    <!--<i class="material-icons center">receipt</i>-->
                    <span class="md-subhead"></span>
                </md-card-title-text>
            </md-card-title>

            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ui-sref="root.dashboard.accounts.balanceSheet">go</md-button>
                <!--<md-button>Action 2</md-button>-->
            </md-card-actions>
        </md-card>
    </div>

</md-content>