<style>
    @media print{
        body{
            width: 100%; 
			
			background-color: lightgreen;
        }
		.table-font {
		
		font-size: .60em;
		}

    }
    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td,
    .table > tfoot > tr > th,
    .table > tfoot > tr > td {
        padding: 2px; }

    

    .printCss {
        font-size: .75em;
    }

    md-input-container{
        margin: 0px;
    }
    h2{
        margin-bottom: 0px;
    }
    .btn{
        margin-bottom: 15px;
    }
    strong{
        font-weight: 400;
    }
</style>

<div layout="row" class="hidden-print">
    <div style="padding-top: 20px">
        <md-input-container class="md-block">
            <label>Start Date</label>
            <md-datepicker ng-model="src.fromDate" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
    </div>
    <div style="padding-top: 20px">
        <md-input-container class="md-block">
            <label>End Date</label>
            <md-datepicker ng-model="src.toDate" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
    </div>



        <div style="margin-left:20px;padding-bottom: 20px;margin-top: 10px  ">
            <label layout-padding>Doctor: </label>
            <md-autocomplete
                             md-input-name="autocompleteField"
                             md-selected-item="selectedDocotr"
                             md-search-text="doc.searchText"
                             md-items="item in querySearch('doctor', doc.searchText)"
                             md-selected-item-change="changeAutocomplete('doctorId', item)"
                             md-item-text="item.name"
                             md-require-match>
                <md-item-template>
                    <span md-highlight-text="doc.searchText">{{item.name}}</span>
                </md-item-template>
                <!-- <md-not-found>
                        Add Doctor
                    </md-not-found>
                <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                    <div ng-message="required">You
                        <b>must</b> have a favorite state.</div>
                    <div ng-message="md-require-match">Please select an existing state.</div>
                    <div ng-message="minlength">Your entry is not long enough.</div>
                    <div ng-message="maxlength">Your entry is too long.</div>
                </div> -->
            </md-autocomplete>

        </div>

        <div style="margin-left:20px;margin-right:20px;margin-top: 10px ">
            <label>Hospital Name</label>
            <md-autocomplete
                             ng-required="existingHodpital"
                             md-input-name="autocompleteField"
                             md-selected-item="selectedHospital"
                             md-search-text="ref.searchText"
                             md-items="item in querySearch('referral', ref.searchText)"
                             md-selected-item-change="changeAutocomplete('referralId', item)"
                             md-item-text="item.name"
                             md-require-match>
                <md-item-template>
                    <span md-highlight-text="ref.searchText">{{item.name}}</span>
                </md-item-template>
                <div ng-messages="personalInfoFrm.autocompleteField.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                </div>
            </md-autocomplete>

        </div>
		
		<div style="margin-left:20px;margin-right:20px;margin-top: 10px ">
            <label>Marketing</label>
            <md-autocomplete
                             ng-required="existingHodpital"
                             md-input-name="autocompleteField"
                             md-selected-item="selectedMarketing"
                             md-search-text="mkt.searchText"
                             md-items="item in querySearch('referralMarketing', mkt.searchText)"
                             md-selected-item-change="changeAutocomplete('referralMarketingId', item)"
                             md-item-text="item.name"
                             md-require-match>
                <md-item-template>
                    <span md-highlight-text="ref.searchText">{{item.name}}</span>
                </md-item-template>
                <div ng-messages="personalInfoFrm.autocompleteField.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                </div>
            </md-autocomplete>

        </div>
        <div style="padding-top: 20px">
            <md-input-container class="md-block">
                <label>User</label>
                <md-select ng-model="src.employeeId">
                    <md-option ng-value="">None</md-option>
                    <md-option ng-repeat="item in userList" ng-value="item.employeeId">
                        {{item.userName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
</div>
<div layout="row" layout-align="center center" class="hidden-print">
    <md-button class="md-raised" ng-click="Reset()">Reset</md-button>
    <md-button class="md-raised md-primary" ng-click="Search()">Search</md-button>

</div>

<div layout="row">

    <div flex="100">
        <!-- <pre>
            {{ReportList|json}}
        </pre> -->
        <!-- <md-list ng-repeat="(key, val) in ReportList">
            <md-subheader><strong>{{key}}</strong></md-subheader>
            <md-list-item class="md-3-line" ng-repeat="item in val">
                <div class="md-list-item-text" layout="column">
                    <p> <strong>Doctor: </strong> {{item.specimenReceipt.doctorInfo.name}} </p>
                    <p> <strong>Hospital: </strong> {{item.specimenReceipt.referralInfo.name}} </p>
                    <p> <strong>User: </strong> {{item.employeeInfo.name}} </p>
                <md-button class="md-secondary" layout="row" layout-align="center center" ng-model="topping.wanted">Print</md-button>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list> -->

            <div layout="column" layout-align="center center">
                <!-- <div> 
                    <strong>
                        {{profile.name}}
                    </strong>
                </div>
                <div>{{profile.address}}</div>
                <div>Phone: {{profile.phone}}</div>
                <div>Email: {{profile.email}}</div>
                <div>Web: {{profile.url}}</div> -->

                <company-header class="visible-print"></company-header>

                <h3 style="text-align: center; margin-top: 5px; margin-bottom:5px; font-weight: 400">Collection Report</h3>

                <!-- <pre>{{ReportFor}}</pre> -->

                <div ng-if="ReportList.length > 0 || ReportFor == 'date' ">
                    <strong>Period: {{src.fromDate | date: 'yyyy-MM-dd' }},  To: {{src.toDate | date: 'yyyy-MM-dd' }}</strong>
                </div>
                <div ng-if="ReportList.length > 0 && ReportFor == 'doctor'">
                    <strong>Ref. By: {{ReportList[0].doctorInfo.name}}</strong>
                </div>
                
                <div ng-if="ReportList.length > 0 && ReportFor == 'DocotrAndHospital'">
                    <strong>Ref. By: {{ReportList[0].doctorInfo.name}} | Hospital: {{ReportList[0].referralInfo.name }}</strong>
                </div>

                <div ng-if="ReportList.length > 0 && ReportFor == 'hospital'">
                   <strong> Hospital: {{ReportList[0].referralInfo.name}}</strong>
                </div>
				
				  <div ng-if="ReportList.length > 0 && ReportFor == 'Marketing'">
                   <strong> Marketing: {{ReportList[0].referralMarketingInfo.name}}</strong>
                </div>

                <div ng-if="ReportFor == 'employeeId'">
                    <strong>User: {{ReportList[0].employeeInfo.name || (userList | filter: {employeeId: src.employeeId}:true)[0].userName }}</strong>
                </div>

                

            </div>

        <div class="table-responsive">
            <table class="table table-bordered table-font">
                    <thead>
                    <tr></tr>
                        <tr>
                            <th>Receipt Date</th>
                            <th>Receipt No</th>
                            <th>PT Name</th>
                            <th>Bill</th>
                            <th>Discount</th>
                            <th>Payable</th>
                            <th>Received</th>
                            <th>Due (Tk.)</th>
                            <th class="hidden-print"><b>Collected By</th>
                            <!-- <th>Coll. Type</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr ng-repeat="item in ReportList | filter: {collectionType: 'Specimen Receipt' || 'Due Collection' } track by $index"> -->
                        <!-- <tr ng-repeat="item in ReportList | filter: {collectionType: 'Bundle Due Collection' } track by $index"> -->
                        <tr ng-repeat="item in ReportList | orderBy: 'createdDate' track by $index">
                            <td>{{item.createdDate + 'Z' | date: 'dd/MM/yyyy hh:mm a' }}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.patientInfo.name}}</td>
                            <td>{{item.totalBillAmount | number: 2}}</td>
                            <td>{{item.totalDiscount | number: 2}}</td>
                            <td>{{item.totalBillAmount - item.totalDiscount | number: 2}}</td>
                            <td >{{item.receivedAmount | number: 2}}</td>
                            <td>{{item.dueAmount | number: 2}}</td>
                            <td class="hidden-print">{{item.employeeInfo.name}}</td>
                            <!-- <td>{{item.collectionType}}</td> -->
                        </tr>
						<tr ng-if="ReportList.length > 0">
                            <td colspan="3"> <b> Total:</b> </td>
                            <td> <b>{{ ReportList | calculateBy: 'totalBillAmount' | number: 2 }}</b></td>
                            <td> <b>{{ ReportList | calculateBy: 'totalDiscount' | number: 2 }}</b></td>
                            <td> <b>{{ (ReportList | calculateBy: 'totalBillAmount') - (ReportList | calculateBy: 'totalDiscount') | number: 2 }}</b></td>
                            <td> <b>{{ ReportList | calculateBy: 'receivedAmount' | number: 2 }}</b></td>
                            <td> <b>{{ ReportList | calculateBy: 'dueAmount' | number: 2 }}</b></td>
                            <td>&nbsp;</td>
                       </tr>

                    </tbody>



                </table>
                <p layout="row" layout-align="center center" class="md-title "ng-if="!ReportList || ReportList.length == 0">
                    No matching data found
                </p>

                <table class="table table-bordered">
                    <body>
                        <tr>
                            <td rowspan="5" style="text-align: center; vertical-align:bottom">Signature</td>
                            <th style="text-align: right">Total Bill</th>
                            <td>{{ ReportList | calculateBy: 'totalBillAmount' | number: 2 }}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right">Total Discount</th>
                            <td>{{ ReportList | calculateBy: 'totalDiscount' | number: 2 }}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right">Total Receivable</th>
                            <td>{{ (ReportList | calculateBy: 'totalBillAmount') - (ReportList | calculateBy: 'totalDiscount')  | number: 2 }}</td>
                        </tr>
						<tr>
                            <th style="text-align: right">Total Due</th>
                            <td>{{ ReportList | calculateBy: 'dueAmount' | number: 2 }}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right">Current Received</th>
                            <td>{{ ReportList | calculateBy: 'receivedAmount' | number: 2 }}</td>
                        </tr>
                    </body>
                </table>
            </div>
    </div>
</div>


<!-- <md-cardlayout="column" style="padding-top: 20px; padding-left: 20px">
    

    




</md-card>

<div style="padding-left: 40px; padding-right: 40px;">
    <md-card layout-padding>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User</th>
                <th>Doctor</th>
                <th>Hospital</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
            </tr>
            </tbody>
        </table>
    </md-card>
</div> -->
