
    <h2 class="md-headline" style="text-align: center">
        <span>Collection Report Summaraized</span>
    </h2>

<div layout="row" class="hidden-print">
        <md-input-container class="md-block">
            <label>Start Date</label>
            <md-datepicker ng-model="src.fromDate" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
        <md-input-container class="md-block">
            <label>End Date</label>
            <md-datepicker ng-model="src.toDate" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
    <div flex-offset="5">
        <md-button class="md-raised md-primary" ng-click="Search()">Search</md-button>
        <md-button class="md-raised" ng-click="Reset()">Reset</md-button>
    </div>

</div>

<div layout="row">

    <div flex="100">
        <!-- <pre>
            {{ReportList|json}}
        </pre> -->
        <!-- <md-list ng-repeat="(key, val) in ReportList">
            <md-subheader><strong>{{key}}</strong></md-subheader>
            <md-list-item class="md-3-line" ng-repeat="item in val">
                <div class="md-list-item-text" layout="column">
                    <p> <strong>Doctor: </strong> {{item.specimenReceipt.doctorInfo.name}} </p>
                    <p> <strong>Hospital: </strong> {{item.specimenReceipt.referralInfo.name}} </p>
                    <p> <strong>User: </strong> {{item.employeeInfo.name}} </p>
                <md-button class="md-secondary" layout="row" layout-align="center center" ng-model="topping.wanted">Print</md-button>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list> -->


            <div class="visible-print" layout="row" layout-align="center center">
                <div> 
                    <strong>
                        <!--Dhaka Biopsy &amp; Cytodiagnostic Laboratory Ltd.    -->
                        {{profile.name}}
                    </strong>
                </div>
                <div>{{profile.address}}</div>
                <div>Phone: {{profile.phone}}</div>
                <div>Email: {{profile.email}}</div>
                <div>Web: {{profile.url}}</div>

                <!-- <div ng-if="ReportFor == 'date' ">
                    From Date: {{src.fromDate | date: 'yyyy-MM-dd' }}, To Date: {{src.toDate | date: 'yyyy-MM-dd' }}
                </div>

                <div ng-if="ReportList.length > 0 || ReportFor == 'doctor'">
                    Doctor: {{ReportList[0].specimenReceipt.doctorInfo.name}}
                </div>
                
                <div ng-if="ReportList.length > 0 && ReportFor == 'hospital'">
                    Hospital: {{ReportList[0].specimenReceipt.referralInfo.name}}
                </div>

                <div ng-if="ReportList.length > 0 && ReportFor == 'user'">
                    User: {{ReportList[0].employeeInfo.name}}
                </div> -->

            </div>
            <br>
            <div>
                <!-- <h4>Collection Type: {{key}}</h4> -->
                <!-- <ul>
                    <li ng-repeat="item in val">{{item.id}}</li>
                </ul> -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Collection Type</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <!-- <span style="display: block;" ng-repeat="(key, SubItems) in ReportList track by $index"> -->
                        <tbody>
                            <tr ng-repeat="item in ReportList track by $index">
                                <!-- <td ng-if="ReportList[$index].collectionType != ReportList[$index-1].collectionType"
                                 rowspan="{{ (ReportList | filter: { collectionType: item.collectionType }:true).length }}">
                                 {{item.collectionType}}</td> -->
                                <td>{{item.collectionType}} </td>
                                <td>{{item.amount}}</td>
                            </tr>
                            
                        </tbody>
                        <tfoot>
                            <tr  ng-if="ReportList.length > 0">
                                <th>Total: </th>
                                <th>{{ ReportList | calculateBy: 'amount' }}</th>
                            </tr>
                        </tfoot>
                    <!-- </span> -->
                    
                </table>
                <p layout="row" layout-align="center center" class="md-title "ng-if="!ReportList || ReportList.length == 0">
                    No matching data found
                </p>
            </div>
            

    </div>
</div>


<!-- <md-cardlayout="column" style="padding-top: 20px; padding-left: 20px">
    

    




</md-card>

<div style="padding-left: 40px; padding-right: 40px;">
    <md-card layout-padding>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User</th>
                <th>Doctor</th>
                <th>Hospital</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
                <td>cell</td>
            </tr>
            </tbody>
        </table>
    </md-card>
</div> -->
