
<style>
    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td,
    .table > tfoot > tr > th,
    .table > tfoot > tr > td {
        padding: 2px; }

    .printCss {
        font-size: .75em;
    }
</style>



<div flex-offset="25" flex="70">
    <company-header></company-header>

        <md-datepicker ng-model="src.fromDate" md-placeholder="start date"></md-datepicker>
    <strong style="padding-left: 20px"> to</strong>
        <md-datepicker ng-model="src.toDate" md-placeholder="End date"></md-datepicker>

</div>

<div layout="row" style="padding: 40px;">
    <table class="table printCss">
        <thead>
        <tr>
            <th>Date</th>
            <th>Hospital</th>
            <th>Doctor</th>
            <th>Collected by</th>
            <th>Collection Head</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
        </tr>
        </tbody>
    </table>
</div>
