/*Css for small button*/
.md-button.md-button-small {
    min-width: 1%;
}

.md-button.md-fab.md-fab-bottom-right{
    position: fixed;
}

.md-button.md-fab.md-fab-bottom-right i{
    position: absolute;
    top: 30%;
    left: 30%;
}

/* animation for view */
[ui-view].ng-enter {
    transition: .3s;

    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}

/* notification color */
md-toast.error .md-toast-content {
    background-color: #BF360C;
}
md-toast.success .md-toast-content {
    background-color: #0D47A1;
}

md-nav-bar .md-nav-bar {
    background: rgb(21, 101, 192)
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected{
    color: #fff;
}

._md-nav-button.md-button.md-default-theme.md-accent, ._md-nav-button.md-button.md-accent{
    color: #fff;
}

md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar{
    color: #fff;
}
