<md-toolbar layout="row" class="md-hue">
    <h2 class="md-toolbar-tools">
        <span>Bundle Due collection</span>
    </h2>
</md-toolbar>

<div layout="row">
    <md-autocomplete flex="50"
                     ng-required="existingHodpital"
                     md-input-name="autocompleteField"
                     md-selected-item="selectedHospital"
                     md-search-text="ref.searchText"
                     md-items="item in querySearch(ref.searchText)"
                     md-selected-item-change="changeReffered(item)"
                     md-item-text="item.name"
                     md-require-match
                     md-floating-label="Hospital Name">
        <md-item-template>
            <span md-highlight-text="ref.searchText">{{item.name}}</span>
        </md-item-template>
        <div ng-messages="personalInfoFrm.autocompleteField.$error" style="color:maroon" role="alert">
            <div ng-message="required">Required</div>
        </div>
    </md-autocomplete>
</div>


<div layout="row">
    <table class="table table-striped">
        <thead>
        <tr></tr>
        <tr>
            <th>Receipt Date</th>
            <th>Invoice No</th>
            <th>Total Bill</th>
            <th>Dis</th>
            <th>Total Received</th>
            <th>Due</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat=" b in bundleList">
            <td>{{b.receiptDateTime | date: 'dd-MM-yyyy ' }}</td>
            <td>{{b.id}}</td>
            <td>{{b.totalBillAmount}}</td>
            <td>{{b.totalDiscount}}</td>
            <td>{{b.totalReceivedAmount}}</td>
            <td>{{b.currentDueAmount}}</td>
        </tr>
        </tbody>

        <tfoot>
        <tr ng-if="bundleList.length > 0">
            <th colspan="2">Total: </th>
            <th>{{ bundleList | calculateBy: 'totalBillAmount' }}</th>
            <th>{{ bundleList | calculateBy: 'totalDiscount' }}</th>
            <th>{{ bundleList | calculateBy: 'totalReceivedAmount' }}</th>
            <th>{{ bundleList | calculateBy: 'currentDueAmount' }}</th>
        </tr>
        </tfoot>
    </table>
    <p layout="row" layout-align="center center" class="md-title "ng-if="!bundleList || bundleList.length == 0">
        No matching data found
    </p>
</div>

<div layout="row">
    <div flex></div>
    <div flex="50">
        <label class="md-title" layout-padding>Cash Received : </label>

        <form name="frmBundle" novalidate>
            <md-input-container>
                <input type="number" name="bundleAmount" ng-model="main.bundleAmount" min="0" max="{{ bundleList | calculateBy: 'dueAmount' }}">
                <div ng-messages="frmBundle.bundleAmount.$error" multiple md-auto-hide="false">
                    <div ng-message="max">
                        You should charge exactly {{ bundleList | calculateBy: 'dueAmount' }} or less.
                    </div>
                    <div ng-message="min">
                        Charge must be greater than Zero.
                    </div>
                </div>
            </md-input-container>
        </form>
    </div>

</div>


<div layout="row" layout-align="center center">
    <md-button class="md-raised">cancel</md-button>
    <md-button class="md-raised md-primary" ng-disabled="frmBundle.$invalid" ng-click="save()">Save</md-button>
    <!-- <md-button class="md-raised md-accent" ui-sref="root.dashboard.printInvoice">Print</md-button> -->
</div>