<div layout="column" flex>


    <h1 layout="row" layout-align="center center" class="md-headline">
        <span>Forgot Password</span>
    </h1>

    <md-content layout="row" layout-align="center center">
        <form name="forgotPassFrm" novalidate flex-lt-md="100" flex-gt-md="25">
            <!--{{user | json}}-->
            <md-input-container class="md-block">
                <label>User Name</label>
                <input type="text" name="userName" ng-model="user.userName" ng-blur="getEmail()" ng-required="true">
                <div ng-if="userMessage"
                    md-colors="{'color': 'green'}" role="alert">
                    <div>**{{userMessage.message}} & email: {{userMessage.data}}</div>
                </div>
                <!--<div ng-if="userMessage" ng-messages="forgotPassFrm.userName.$error"-->
                     <!--md-colors="{'color': 'green'}" style="color:maroon" role="alert">-->
                    <!--<div ng-message="required">**{{userMessage.message}} & email: {{userMessage.data}}</div>-->
                <!--</div>-->
            </md-input-container>


            <md-input-container class="md-block" style="margin-bottom: 0px;">


            <div layout="row" layout-align="center center">
                <div ng-show="enableLoader">
                    <md-progress-circular md-mode="indeterminate" md-diameter="35"></md-progress-circular>
                </div>
                <md-button class="md-raised" ui-sref="root.login">back</md-button>
                <md-button class="md-raised md-primary" ng-disabled="disableBtn"
                           ng-click="sendEmail(user.userName)">Send</md-button>
            </div>

        </form>
    </md-content>

</div>


