<div layout="column" flex>


    <h1 layout="row" layout-align="center center" class="md-headline">
        <span>Reset Password</span>
    </h1>

    <md-content layout="row" layout-align="center center">
        <form name="resetPassFrm" novalidate flex-lt-md="100" flex-gt-md="25">
            <md-input-container class="md-block">
                <label>Current Password</label>
                <input type="text" name="currentPassword" ng-model="currentPassword" ng-required="true">
                <div ng-messages="changePassFrm.currentPassword.$error" style="color:maroon" role="alert">
                    <div ng-message="required">**Required</div>
                    <!--<div ng-message="md-maxlength">The Group Name must be less than 250 characters long.</div>-->
                </div>
            </md-input-container>
            <md-input-container class="md-block" style="margin-bottom: 0px;">
                <label>New Password</label>
                <input type="password" name="newPassword" ng-model="newPassword" ng-required="true">
                <div ng-messages="changePassFrm.currentPassword.$error" style="color:maroon" role="alert">
                    <div ng-message="required">**Required</div>
                </div>
            </md-input-container>


            <div layout="row" layout-align="center center">

                <md-button class="md-raised" ui-sref="root.forgotPassword">back</md-button>
                <md-button class="md-raised md-primary" ng-disabled="changePassFrm.$invalid || !enableBtn" ng-click="changePassword()">Update</md-button>
            </div>

        </form>
    </md-content>

</div>


