<style>
    md-autocomplete{
        padding-bottom: 0px;
    }
    md-input-container{
        margin: 0px;
        padding: 0px;
    }
</style>

<md-toolbar layout="row" class="md-hue">
    <h2 class="md-toolbar-tools">
        <span>Template : {{key.specimenInfo.specimen}}</span>
    </h2>
</md-toolbar>

<div>
    <md-card flex-offset="25" flex="50" flex-offset="25">
        <ng-form name="specimenTmpltFrm" layout="column" layout-padding="left">
            <!--<span class="md-title" style="text-align:center">Create Invoice Template</span>-->
            <md-autocomplete
                    ng-disabled="primaryId"
                        md-input-name="autocompleteField"
                        md-selected-item="selectedItem"
                        md-search-text="searchText"
                        md-items="item in querySearch(searchText)"
                        md-selected-item-change="GetTemplateById(item.id)"
                        md-item-text="item.specimen"
                        md-require-match
                        md-floating-label="Investigation">
                <md-item-template>
                    <span md-highlight-text="searchText">{{item.specimen}}</span>
                </md-item-template>
                <md-not-found>
                    No states matching "{{item.specimen}}" were found. <md-button>Add</md-button>
                </md-not-found>
            </md-autocomplete>

            <md-input-container class="md-block" ng-hide="selectedItem.specimenReportStyle.id == '3' ">
                <label>Microscopic Examination</label>
                <textarea ng-model="key.microscopicExamination" name="MicroExm" rows="1"></textarea>
                <div ng-messages="specimenTmpltFrm.MicroExm.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                    <!--<div ng-message="md-maxlength">not less then 0.</div>-->
                </div>
            </md-input-container>

            <md-input-container class="md-block" ng-hide="selectedItem.specimenReportStyle.id == '3' ">
                <label>Diagnosis</label>
                <textarea ng-model="key.diagnosis" name="diagnosis" rows="1"></textarea>
                <div ng-messages="specimenTmpltFrm.diagnosis.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                    <!--<div ng-message="md-maxlength">not less then 0.</div>-->
                </div>
            </md-input-container>

            <md-input-container class="md-block" ng-hide="selectedItem.specimenReportStyle.id == '3' || selectedItem.specimenReportStyle.id == '2' ">
                <label>Gross Description</label>
                <textarea ng-model="key.grossDescriptionOrCH" name="grossDes" rows="1"></textarea>
                <div ng-messages="specimenTmpltFrm.grossDes.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Required</div>
                    <!--<div ng-message="md-maxlength">not less then 0.</div>-->
                </div>
            </md-input-container>

            <md-input-container class="md-block" ng-hide="selectedItem.specimenReportStyle.id == '3' ">
                <label>Advice</label>
                <textarea ng-model="key.advice" rows="1"></textarea>
            </md-input-container>

            <md-input-container class="md-block" ng-show="selectedItem.specimenReportStyle.id == '3'  ">
                <label>NumberOfSlidesExamined</label>
                <textarea name="NumberOfSlidesExamined" ng-model="key.numberOfSlidesExamined" rows="1"></textarea>
            </md-input-container>

            <md-input-container class="md-block" ng-show="selectedItem.specimenReportStyle.id == '3'  ">
                <label>Cellularity</label>
                <textarea name="Cellularity" ng-model="key.cellularity" rows="1"></textarea>
            </md-input-container>

            <md-input-container class="md-block" ng-show="selectedItem.specimenReportStyle.id == '3'  ">
                <label>InfectionSpecific</label>
                <textarea name="InfectionSpecific" ng-model="key.infectionSpecific" rows="1"></textarea>
            </md-input-container>

            <md-input-container class="md-block" ng-show="selectedItem.specimenReportStyle.id == '3'  ">
                <label>EpithelialCellularAbnormality</label>
                <textarea name="EpithelialCellularAbnormality" ng-model="key.epithelialCellularAbnormality" rows="1"></textarea>
            </md-input-container>

            <md-input-container class="md-block" ng-show="selectedItem.specimenReportStyle.id == '3'  ">
                <label>InflammatoryCells</label>
                <textarea name="InflammatoryCells" ng-model="key.inflammatoryCells" rows="1"></textarea>
            </md-input-container>

            <md-input-container class="md-block" ng-show="selectedItem.specimenReportStyle.id == '3'  ">
                <label>Interpretation</label>
                <textarea name="Interpretation" ng-model="key.interpretation" rows="1"></textarea>
            </md-input-container>


            <!-- <pre>{{key | json}}</pre> -->

            <div layout="row" layout-align="center center">
                <md-button class="md-raised" ui-sref="root.dashboard.invoiceTemplate">Cancel</md-button>
                <md-button class="md-raised md-primary" ng-disabled="specimenTmpltFrm.$invalid || !enableBtn" ng-click="save()">Save</md-button>
            </div>
        </ng-form>
    </md-card>

</div>

