<style>
    md-dialog {
        overflow: hidden;
    }
    md-input-container{
        margin: 0px;
    }
</style>

<md-dialog flex="30">

    <ng-form layout-padding="left">
        <!--<span class="md-title" style="text-align:center">Create Invoice Template</span>-->
        <!--{{selectedItem}}-->
        <md-autocomplete flex
                         md-input-name="autocompleteField"
                         md-selected-item="selectedItem"
                         md-search-text="searchText"
                         md-items="item in querySearch(searchText)"
                         md-item-text="item.specimen"
                         md-require-match
                         md-floating-label="Investigation">
            <md-item-template>
                <span md-highlight-text="searchText">{{item.id}} - {{item.specimen}}</span>
            </md-item-template>
            <md-not-found>
                No states matching "{{item.specimen}}" were found. <md-button>Add</md-button>
            </md-not-found>
        </md-autocomplete>

        <md-input-container class="md-block">
            <label>Microscopic Examination</label>
            <textarea ng-model="key.microscopicExamination" rows="1"></textarea>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Diagnosis</label>
            <textarea ng-model="key.diagnosis" rows="1"></textarea>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Gross Description</label>
            <textarea ng-model="key.grossDescriptionOrCH" rows="1"></textarea>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Advice</label>
            <textarea ng-model="key.advice" rows="1"></textarea>
        </md-input-container>

        <pre>{{key | json}}</pre>

        <md-dialog-actions>
            <md-button ng-click="answer('not useful')">Cancel</md-button>
            <md-button ng-click="save()">Save</md-button>
        </md-dialog-actions>
    </ng-form>

</md-dialog>