<div>
    <md-toolbar layout="row" class="md-hue">
        <h2 class="md-toolbar-tools">
            <span>Specimen Template</span>
        </h2>
    </md-toolbar>


    <md-button class="md-fab md-fab-bottom-right" ui-sref="root.dashboard.createInvoiceTemplate" aria-label="new">
        <md-tooltip md-direction="top">Add new Item</md-tooltip>
        <i class="material-icons">add</i>
    </md-button>

    <md-content>
        <div layout-padding>
            <md-card>
                <md-input-container flex-offset="70" style=" padding-bottom: 0px; margin-bottom: 0px">
                    <label>search</label>
                    <input ng-model="srcText" type="text">
                </md-input-container>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="tmplList in specimenTemplatesList | filter: srcText">
                        <div class="md-list-item-text">
                            <strong md-colors="{color: 'accent-600'}">Specimen:{{tmplList.specimenInfo.specimen}} </strong>
                            <h3>Microscopic Examination: {{tmplList.microscopicExamination}} </h3>
                            <p> Growth Description: {{tmplList.grossDescriptionOrCH}},</p>
                            <p><a href="javascript:void(0);" ng-hide="showMore" ng-click="showMore = !showMore">More...</a></p>
                            <div ng-show="showMore">
                                <p ng-if="tmplList.advice"> <strong>advice: </strong>{{tmplList.advice}} </p>
                                <p ng-if="tmplList.cellularity"> <strong>cellularity: </strong>{{tmplList.cellularity}} </p>
                                <p ng-if="tmplList.diagnosis"> <strong>diagnosis: </strong>{{tmplList.diagnosis}} </p>
                                <p ng-if="tmplList.infectionSpecific"> <strong>infectionSpecific: </strong>{{tmplList.infectionSpecific}} </p>
                                <p ng-if="tmplList.epithelialCellularAbnormality"> <strong>epithelialCellularAbnormality: </strong>{{tmplList.epithelialCellularAbnormality}} </p>
                                <p ng-if="tmplList.grossDescriptionOrCH"> <strong>grossDescriptionOrCH: </strong>{{tmplList.grossDescriptionOrCH}} </p>
                                <p ng-if="tmplList.inflammatoryCells"> <strong>inflammatoryCells: </strong>{{tmplList.inflammatoryCells}} </p>
                                <p ng-if="tmplList.interpretation"> <strong>interpretation: </strong>{{tmplList.interpretation}} </p>
                                <p ng-if="tmplList.microscopicExamination"> <strong>microscopicExamination: </strong>{{tmplList.microscopicExamination}} </p>
                                <p ng-if="tmplList.numberOfSlidesExamined"> <strong>numberOfSlidesExamined: </strong>{{tmplList.numberOfSlidesExamined}} </p>
                            </div>
                            <p><a href="javascript:void(0);" ng-hide="!showMore" ng-click="showMore = !showMore">Less</a></p>
                        </div>
                        <md-button layout="row" layout-align="center center" class="md-primary" ui-sref="root.dashboard.createInvoiceTemplate({id: tmplList.id})">
                            <md-tooltip md-direction="top">Edit</md-tooltip>
                            <i class="material-icons">mode_edit</i>
                        </md-button>
                        <md-button layout="row" layout-align="center center" class="md-primary" ng-click="Delete($event,specimenTemplatesList,tmplList)">
                            <md-tooltip md-direction="top">Delete</md-tooltip>
                            <i class="material-icons">delete</i>
                        </md-button>
                        <!--<md-button layout="row" layout-align="center center" class="md-secondary">
                            <md-tooltip md-direction="top">print</md-tooltip>
                            <i class="material-icons">print</i>-->
                        <!--</md-button>-->
                        <md-divider></md-divider>

                    </md-list-item>
                </md-list>
            </md-card>
        </div>
    </md-content>
</div>

