<md-toolbar layout="row" class="md-hue">
    <h2 class="md-toolbar-tools" layout="row" layout-align="center center">
        <span>Lab Report</span>
    </h2>
</md-toolbar>


<div layout="column" layout-padding>
    <div flex="75">
        <md-content>

            <div style="padding-left:90px; padding-right:90px">
                <md-card>
                    <!--<md-card-title>-->
                        <!-- <h3>Template</h3> -->
                       <!---->
                    <!--</md-card-title>-->
                    <md-card-content>

                        <form novalidate name="labReportFrm">
                            <md-autocomplete flex="20"
                                 ng-required="true"
                                 name="labNo"
                                 md-input-name="autocompleteField"
                                 md-selected-item="reportItem"
                                 md-search-text="searchReportText"
                                 md-items="item in reportSearch(searchReportText)"
                                 md-item-text="item.id" md-floating-label="Lab No.">
                                <md-item-template>
                                    <span md-highlight-text="searchReportText">{{item.id}}</span>
                                </md-item-template>
                            </md-autocomplete>
                            <div ng-hide="template.specimenInfo.specimenReportStyle.id == '3' ">
                                <h5 class="md-title">Gross Description</h5>
                                <!-- <md-input-container class="md-block">
                                    <textarea ng-model="template.specimenResult.grossDescriptionOrCH"></textarea>
                                </md-input-container> -->
                                <div text-angular="text-angular" name="grossDescriptionOrCH" ng-model="template.specimenResult.grossDescriptionOrCH" ta-disabled='disabled'></div>
                            </div>

                            <div ng-hide="template.specimenInfo.specimenReportStyle.id == '3' ">
                                <h5 class="md-title">Microscopic Examination</h5>
                                <!-- <md-input-container class="md-block">
                                    <textarea ng-model="template.specimenResult.microscopicExamination"></textarea>
                                </md-input-container> -->
                                <div text-angular="text-angular" name="microscopicExamination" ng-model="template.specimenResult.microscopicExamination" ta-disabled='disabled'></div>
                            </div>

                            <div ng-hide="template.specimenInfo.specimenReportStyle.id == '3' ">
                                <h5 class="md-title">Diagnosis</h5>
                                <!-- <md-input-container class="md-block">
                                    <textarea ng-model="template.specimenResult.diagnosis"></textarea>
                                </md-input-container> -->
                                <div text-angular="text-angular" name="diagnosis" ng-model="template.specimenResult.diagnosis" ta-disabled='disabled'></div>
                            </div>
                            <div ng-hide="template.specimenInfo.specimenReportStyle.id == '3' ">
                                    <h5 class="md-title">Advice</h5>
                                    <!-- <md-input-container class="md-block">
                                        <textarea ng-model="template.specimenResult.advice"></textarea>
                                    </md-input-container> -->
                                <div text-angular="text-angular" name="advice" ng-model="template.specimenResult.advice" ta-disabled='disabled'></div>
                                </div>

                            <div ng-show="template.specimenInfo.specimenReportStyle.id == '3' ">
                                <h5 class="md-title">Number Of Slides Examined</h5>
                                <!-- <md-input-container class="md-block">
                                    <textarea ng-model="template.specimenResult.numberOfSlidesExamined"></textarea>
                                </md-input-container> -->
                                <div text-angular="text-angular" name="numberOfSlidesExamined" ng-model="template.specimenResult.numberOfSlidesExamined" ta-disabled='disabled'></div>
                            </div>

                            <div ng-show="template.specimenInfo.specimenReportStyle.id == '3' ">
                                <h5 class="md-title">Cellularity</h5>
                                <!-- <md-input-container class="md-block">
                                    <textarea ng-model="template.specimenResult.cellularity"></textarea>
                                </md-input-container> -->
                                <div text-angular="text-angular" name="cellularity" ng-model="template.specimenResult.cellularity" ta-disabled='disabled'></div>
                            </div>
                            <div ng-show="template.specimenInfo.specimenReportStyle.id == '3' ">
                                <h5 class="md-title">InfectionSpecific</h5>
                                <!-- <md-input-container class="md-block">
                                    <textarea ng-model="template.specimenResult.infectionSpecific"></textarea>
                                </md-input-container> -->
                                <div text-angular="text-angular" name="infectionSpecific" ng-model="template.specimenResult.infectionSpecific" ta-disabled='disabled'></div>
                            </div>
                            <div ng-show="template.specimenInfo.specimenReportStyle.id == '3' ">
                                <h5 class="md-title">EpithelialCellularAbnormality</h5>
                                <!-- <md-input-container class="md-block">
                                    <textarea ng-model="template.specimenResult.ipithelialCellularAbnormality"></textarea>
                                </md-input-container> -->
                                <div text-angular="text-angular" name="ipithelialCellularAbnormality" ng-model="template.specimenResult.ipithelialCellularAbnormality" ta-disabled='disabled'></div>
                            </div>
                            <div ng-show="template.specimenInfo.specimenReportStyle.id == '3' ">
                                <h5 class="md-title">Inflammatory Cells</h5>
                                <!-- <md-input-container class="md-block">
                                    <textarea ng-model="template.specimenResult.inflammatoryCells"></textarea>
                                </md-input-container> -->
                                <div text-angular="text-angular" name="inflammatoryCells" ng-model="template.specimenResult.inflammatoryCells" ta-disabled='disabled'></div>
                            </div>
                            <div ng-show="template.specimenInfo.specimenReportStyle.id == '3' ">
                                <h5 class="md-title">Interpretation</h5>
                                <!-- <md-input-container class="md-block">
                                    <textarea ng-model="template.specimenResult.interpretation"></textarea>
                                </md-input-container> -->
                                <div text-angular="text-angular" name="interpretation" ng-model="template.specimenResult.interpretation" ta-disabled='disabled'></div>
                            </div>
                        </form>


                    </md-card-content>
                </md-card>
            </div>
            <div layout="row" layout-align="center center" layout-padding="top">
                <md-checkbox ng-model="template.specimenResult.sendEmail" aria-label="Checkbox 1">
                    Send Email
                </md-checkbox>
                <md-button class="md-raised" ng-disabled="labReportFrm.$invalid || !enableBtn" ng-click="Save()">save</md-button>
                <md-button ng-disabled="!template.specimenResult.updatedBy" ui-sref="root.dashboard.printReport({receiptId: template.specimen_ReceiptId, reportId: template.id})"
                           class="md-raised md-primary" target="_blank">print</md-button>
            </div>

        </md-content>
    </div>




</div>