<style>
    /* .md-headline{
        margin-top: 1.5cm;
    } */
    .title-underline{
        text-decoration: underline;
    }
    .result-item{
        margin-bottom: 10px;
    }
    .result-item .title-underline{
        margin-bottom: 5px;
    }

    @media print{
        @page { margin-top: 4.5cm; }
        body{
            margin: 0;
        }
    }
    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td,
    .table > tfoot > tr > th,
    .table > tfoot > tr > td {
        padding: 2px; }

    .printCss1 {
        font-size: .75em;
    }
    .printCss2 {
        font-size: .85em;
    }
    .printCss3 {
        margin-top: 70px;
    }
    h4{
        font-weight: 400;
        margin: 8px;
    }
    .md-title{
        font-size: 1.5em;
    }
    .text-area {
        width: 100%;
        border: none;
        background: transparent;
        resize: none;
    }
</style>

<!--<company-header></company-header>-->

<h4 class="md-headline title-underline" layout="row" layout-align="center center">{{results.specimenInfo.specimenReportTitle.title}}</h4>

<div layout="row">
    <table class="table printCss1">
        <tbody>
            <tr>                
                <td>Lab No: {{ (main.specimenReport | filter: {id: reportId})[0].id}}</td>
                <td>Receipt No: {{main.id}}</td>
				<td>Receipt Date: {{main.receiptDateTime + 'Z' | date: 'dd/MM/yyyy hh:mm a' }}</td>
            </tr>
            <tr>
                <td>Reg. No: {{main.patientInfo.id}}</td>
                <td>Ref. By: {{main.referralInfo.name}}</td>
                <td>Delivery date: {{ (main.specimenReport | filter: {id: reportId})[0].deliveryDateTime | date: 'dd/MM/yyyy hh:mm a' }}</td>
            </tr>
            <tr>
                <td>Patient Name: {{main.patientInfo.name}}</td>
                <td>Age:{{main.patientInfo.age.split('-')[0]}}Y {{main.patientInfo.age.split('-')[1]}} M {{main.patientInfo.age.split('-')[2]}} D
                    <!--{{main.patientInfo.age}}-->
                </td>
                </td>
                <td>Gender: {{main.patientInfo.sex}}</td>
                </td>
            </tr>
            <tr>
                <td>Hospital: {{main.referralInfo.name}}</td>
				<td colspan="2">Mobile No: {{main.employeeInfo.phone}}</td>             

            </tr>
            <tr>
                <td colspan="3">Specimen: {{ (main.specimenReport | filter: {id: reportId} )[0].specimenInfo.specimen}}</td>
            </tr>
            
            <tr>
                <td colspan="3"></td>
            </tr>
        </tbody>
    </table>
</div>


<div layout="column" class="printCss2">
    <div class="result-item" ng-if="results.specimenResult.grossDescriptionOrCH">
        <div class="md-title title-underline">Gross Description</div>
        <div ng-bind-html="results.specimenResult.grossDescriptionOrCH"></div>
        <!-- <div>{{results.specimenResult.grossDescriptionOrCH}}</div> -->
        <!-- <div ng-bind-html="results.specimenResult.grossDescriptionOrCH"></div> -->
        <!-- <md-input-container class="md-block"> -->
            <!-- <textarea class="text-area" ng-model="results.specimenResult.grossDescriptionOrCH" ng-readonly="true" wrap="off"></textarea> -->
        <!-- </md-input-container> -->
    </div>

    <div class="result-item" ng-if="results.specimenResult.microscopicExamination">
        <div class="md-title title-underline">Microscopic Examination</div>
        <div ng-bind-html="results.specimenResult.microscopicExamination"></div>
        <!-- <div>{{results.specimenResult.microscopicExamination}}</div> -->
        <!-- <md-input-container class="md-block"> -->
            <!-- <textarea class="text-area" ng-model="results.specimenResult.microscopicExamination" ng-readonly="true" wrap="off"></textarea> -->
        <!-- </md-input-container> -->
    </div>

    <div class="result-item" ng-if="results.specimenResult.diagnosis">
        <div class="md-title title-underline">Diagnosis</div>
        <div ng-bind-html="results.specimenResult.diagnosis"></div>
        <!-- <div>{{results.specimenResult.diagnosis}}</div> -->
        <!-- <md-input-container class="md-block"> -->
            <!-- <textarea class="text-area" ng-model="results.specimenResult.diagnosis" ng-readonly="true" wrap="off"></textarea> -->
        <!-- </md-input-container> -->
    </div>

    <div class="result-item" ng-if="results.specimenResult.advice">
        <div class="md-title title-underline">Advice</div>
        <div ng-bind-html="results.specimenResult.advice"></div>
        <!-- <div>{{results.specimenResult.advice}}</div> -->
        <!-- <md-input-container class="md-block"> -->
            <!-- <textarea class="text-area" ng-model="results.specimenResult.advice" ng-readonly="true" wrap="off"></textarea> -->
        <!-- </md-input-container> -->
    </div>

    <div class="result-item" ng-if="results.specimenResult.numberOfSlidesExamined">
        <div class="md-title title-underline">Number Of Slides Examined</div>
        <div ng-bind-html="results.specimenResult.numberOfSlidesExamined"></div>
        <!-- <div>{{results.specimenResult.numberOfSlidesExamined}}</div> -->
        <!-- <md-input-container class="md-block"> -->
            <!-- <textarea class="text-area" ng-model="results.specimenResult.numberOfSlidesExamined" ng-readonly="true" wrap="off"></textarea> -->
        <!-- </md-input-container> -->
    </div>
    
    <div class="result-item" ng-if="results.specimenResult.cellularity">
        <div class="md-title title-underline">Cellularity</div>
        <div ng-bind-html="results.specimenResult.cellularity"></div>
        <!-- <div>{{results.specimenResult.cellularity}}</div> -->
        <!-- <md-input-container class="md-block"> -->
            <!-- <textarea class="text-area" ng-model="results.specimenResult.cellularity" ng-readonly="true" wrap="off"></textarea> -->
        <!-- </md-input-container> -->
    </div>
    
    <div class="result-item" ng-if="results.specimenResult.infectionSpecific">
        <div class="md-title title-underline">Infection Specific</div>
        <div ng-bind-html="results.specimenResult.infectionSpecific"></div>
        <!-- <div>{{results.specimenResult.infectionSpecific}}</div> -->
        <!-- <md-input-container class="md-block"> -->
            <!-- <textarea class="text-area" ng-model="results.specimenResult.infectionSpecific" ng-readonly="true" wrap="off"></textarea> -->
        <!-- </md-input-container> -->
    </div>
    
    <div class="result-item" ng-if="results.specimenResult.epithelialCellularAbnormality">
        <div class="md-title title-underline">Epithelial Cellular Abnormality</div>
        <div ng-bind-html="results.specimenResult.epithelialCellularAbnormality"></div>
        <!-- <div>{{results.specimenResult.epithelialCellularAbnormality}}</div> -->
        <!-- <md-input-container class="md-block"> -->
            <!-- <textarea class="text-area" ng-model="results.specimenResult.epithelialCellularAbnormality" ng-readonly="true" wrap="off"></textarea> -->
        <!-- </md-input-container> -->
    </div>
    
    <div class="result-item" ng-if="results.specimenResult.inflammatoryCells">
        <div class="md-title title-underline">Inflammatory Cells</div>
        <div ng-bind-html="results.specimenResult.inflammatoryCells"></div>
        <!-- <div>{{results.specimenResult.inflammatoryCells}}</div> -->
        <!-- <md-input-container class="md-block"> -->
            <!-- <textarea class="text-area" ng-model="results.specimenResult.inflammatoryCells" ng-readonly="true" wrap="off"></textarea> -->
        <!-- </md-input-container> -->
    </div>
    
    <div class="result-item" ng-if="results.specimenResult.interpretation">
        <div class="md-title title-underline">Interpretation</div>
        <div ng-bind-html="results.specimenResult.interpretation"></div>
        <!-- <div>{{results.specimenResult.interpretation}}</div> -->
        <!-- <md-input-container class="md-block"> -->
            <!-- <textarea class="text-area" ng-model="results.specimenResult.interpretation" ng-readonly="true" wrap="off"></textarea> -->
        <!-- </md-input-container> -->
    </div>
    
</div>

<div layout="row" layout-align="center start" layout-padding="top"  class="printCss3">
    <img src="assets/svg/doctor-report-footer.svg" />
    <!-- <div layout="column" flex="35">
        <div layout="column" layout-align="center center" class="printCss1">
            <p style="font-size: 1.5em;">(Dr. Nayeema Rahaman)</p>
            <strong style="font-size: 1.2em;">MBBS, MD (Pathology)</strong>
            <span>Asst. Professor Of Pathology</span>
            <div>Shahed Monsur Ali Medical College</div>
        </div>
    </div>

    <div layout="column" flex="35">
        <div layout="column" layout-align="center center" class="printCss1">
            <p style="font-size: 1.5em;">(Prof. Dr. Md. Nowfel Islam)</p>
            <strong style="font-size: 1.2em;">MBBS, MCPS (Cl.Path), M.Phil(Path), FCPS (Histo)</strong>
            <span>Professor &amp; Head of Pathology</span>
            <div>National Institute of Neuroscience &amp; Hospital</div>
        </div>
    </div>

    <div layout="column" flex="30">
        <div layout="column" layout-align="center center" class="printCss1">
            <p style="font-size: 1.5em;">(Dr. MD. Nazmul Haque)</p>
            <strong style="font-size: 1.2em;">MBBS, M.Phil (Pathology)</strong>
            <span>Ass. Prof. Of Pathology (Rtd.)</span>
            <div>Dhaka Medical College</div>
            <div>BMDC Reg. No. A-12314</div>
        </div>
    </div> -->

</div>